/* 
    Background Images
    Feel free to add more to fulfill your project's needs.
*/

.bg-i-1{
    background-image: "add_your_image!";
}
.bg-i-2{
    background-image: "add_your_image!";
}
.bg-i-3{
    background-image: "add_your_image!";
}
