.d-grid{ display: grid; }


.row-g-5px { row-gap: 5px; }
.row-g-10px { row-gap: 10px; }
.row-g-15px { row-gap: 15px; }
.row-g-20px { row-gap: 20px; }
.row-g-25px { row-gap: 25px; }
.row-g-30px { row-gap: 30px; }
.row-g-35px { row-gap: 35px; }
.row-g-40px { row-gap: 40px; }
.row-g-45px { row-gap: 45px; }
.row-g-50px { row-gap: 50px; }
.row-g-55px { row-gap: 55px; }
.row-g-60px { row-gap: 60px; }
.row-g-65px { row-gap: 65px; }
.row-g-70px { row-gap: 70px; }
.row-g-75px { row-gap: 75px; }
.row-g-80px { row-gap: 80px; }
.row-g-85px { row-gap: 85px; }
.row-g-90px { row-gap: 90px; }
.row-g-95px { row-gap: 95px; }
.row-g-100px { row-gap: 100px; }
.row-g-105px { row-gap: 105px; }
.row-g-110px { row-gap: 110px; }
.row-g-115px { row-gap: 115px; }
.row-g-120px { row-gap: 120px; }
.row-g-125px { row-gap: 125px; }
.row-g-130px { row-gap: 130px; }
.row-g-135px { row-gap: 135px; }
.row-g-140px { row-gap: 140px; }
.row-g-145px { row-gap: 145px; }
.row-g-150px { row-gap: 150px; }
.row-g-155px { row-gap: 155px; }
.row-g-160px { row-gap: 160px; }
.row-g-165px { row-gap: 165px; }
.row-g-170px { row-gap: 170px; }
.row-g-175px { row-gap: 175px; }
.row-g-180px { row-gap: 180px; }
.row-g-185px { row-gap: 185px; }
.row-g-190px { row-gap: 190px; }
.row-g-195px { row-gap: 195px; }
.row-g-200px { row-gap: 200px; }
.row-g-205px { row-gap: 205px; }
.row-g-210px { row-gap: 210px; }
.row-g-215px { row-gap: 215px; }
.row-g-220px { row-gap: 220px; }
.row-g-225px { row-gap: 225px; }
.row-g-230px { row-gap: 230px; }
.row-g-235px { row-gap: 235px; }
.row-g-240px { row-gap: 240px; }
.row-g-245px { row-gap: 245px; }
.row-g-250px { row-gap: 250px; }
.row-g-255px { row-gap: 255px; }
.row-g-260px { row-gap: 260px; }
.row-g-265px { row-gap: 265px; }
.row-g-270px { row-gap: 270px; }
.row-g-275px { row-gap: 275px; }
.row-g-280px { row-gap: 280px; }
.row-g-285px { row-gap: 285px; }
.row-g-290px { row-gap: 290px; }
.row-g-295px { row-gap: 295px; }
.row-g-300px { row-gap: 300px; }
.row-g-305px { row-gap: 305px; }
.row-g-310px { row-gap: 310px; }
.row-g-315px { row-gap: 315px; }
.row-g-320px { row-gap: 320px; }
.row-g-325px { row-gap: 325px; }
.row-g-330px { row-gap: 330px; }
.row-g-335px { row-gap: 335px; }
.row-g-340px { row-gap: 340px; }
.row-g-345px { row-gap: 345px; }
.row-g-350px { row-gap: 350px; }
.row-g-355px { row-gap: 355px; }
.row-g-360px { row-gap: 360px; }
.row-g-365px { row-gap: 365px; }
.row-g-370px { row-gap: 370px; }
.row-g-375px { row-gap: 375px; }
.row-g-380px { row-gap: 380px; }
.row-g-385px { row-gap: 385px; }
.row-g-390px { row-gap: 390px; }
.row-g-395px { row-gap: 395px; }
.row-g-400px { row-gap: 400px; }






.row-g-5p { row-gap: 5%; }
.row-g-10p { row-gap: 10%; }
.row-g-15p { row-gap: 15%; }
.row-g-20p { row-gap: 20%; }
.row-g-25p { row-gap: 25%; }
.row-g-30p { row-gap: 30%; }
.row-g-35p { row-gap: 35%; }
.row-g-40p { row-gap: 40%; }
.row-g-45p { row-gap: 45%; }
.row-g-50p { row-gap: 50%; }
.row-g-55p { row-gap: 55%; }
.row-g-60p { row-gap: 60%; }
.row-g-65p { row-gap: 65%; }
.row-g-70p { row-gap: 70%; }
.row-g-75p { row-gap: 75%; }
.row-g-80p { row-gap: 80%; }
.row-g-85p { row-gap: 85%; }
.row-g-90p { row-gap: 90%; }
.row-g-95p { row-gap: 95%; }
.row-g-100p { row-gap: 100%; }






.column-g-5px { column-gap: 5px; }
.column-g-10px { column-gap: 10px; }
.column-g-15px { column-gap: 15px; }
.column-g-20px { column-gap: 20px; }
.column-g-25px { column-gap: 25px; }
.column-g-30px { column-gap: 30px; }
.column-g-35px { column-gap: 35px; }
.column-g-40px { column-gap: 40px; }
.column-g-45px { column-gap: 45px; }
.column-g-50px { column-gap: 50px; }
.column-g-55px { column-gap: 55px; }
.column-g-60px { column-gap: 60px; }
.column-g-65px { column-gap: 65px; }
.column-g-70px { column-gap: 70px; }
.column-g-75px { column-gap: 75px; }
.column-g-80px { column-gap: 80px; }
.column-g-85px { column-gap: 85px; }
.column-g-90px { column-gap: 90px; }
.column-g-95px { column-gap: 95px; }
.column-g-100px { column-gap: 100px; }
.column-g-105px { column-gap: 105px; }
.column-g-110px { column-gap: 110px; }
.column-g-115px { column-gap: 115px; }
.column-g-120px { column-gap: 120px; }
.column-g-125px { column-gap: 125px; }
.column-g-130px { column-gap: 130px; }
.column-g-135px { column-gap: 135px; }
.column-g-140px { column-gap: 140px; }
.column-g-145px { column-gap: 145px; }
.column-g-150px { column-gap: 150px; }
.column-g-155px { column-gap: 155px; }
.column-g-160px { column-gap: 160px; }
.column-g-165px { column-gap: 165px; }
.column-g-170px { column-gap: 170px; }
.column-g-175px { column-gap: 175px; }
.column-g-180px { column-gap: 180px; }
.column-g-185px { column-gap: 185px; }
.column-g-190px { column-gap: 190px; }
.column-g-195px { column-gap: 195px; }
.column-g-200px { column-gap: 200px; }
.column-g-205px { column-gap: 205px; }
.column-g-210px { column-gap: 210px; }
.column-g-215px { column-gap: 215px; }
.column-g-220px { column-gap: 220px; }
.column-g-225px { column-gap: 225px; }
.column-g-230px { column-gap: 230px; }
.column-g-235px { column-gap: 235px; }
.column-g-240px { column-gap: 240px; }
.column-g-245px { column-gap: 245px; }
.column-g-250px { column-gap: 250px; }
.column-g-255px { column-gap: 255px; }
.column-g-260px { column-gap: 260px; }
.column-g-265px { column-gap: 265px; }
.column-g-270px { column-gap: 270px; }
.column-g-275px { column-gap: 275px; }
.column-g-280px { column-gap: 280px; }
.column-g-285px { column-gap: 285px; }
.column-g-290px { column-gap: 290px; }
.column-g-295px { column-gap: 295px; }
.column-g-300px { column-gap: 300px; }
.column-g-305px { column-gap: 305px; }
.column-g-310px { column-gap: 310px; }
.column-g-315px { column-gap: 315px; }
.column-g-320px { column-gap: 320px; }
.column-g-325px { column-gap: 325px; }
.column-g-330px { column-gap: 330px; }
.column-g-335px { column-gap: 335px; }
.column-g-340px { column-gap: 340px; }
.column-g-345px { column-gap: 345px; }
.column-g-350px { column-gap: 350px; }
.column-g-355px { column-gap: 355px; }
.column-g-360px { column-gap: 360px; }
.column-g-365px { column-gap: 365px; }
.column-g-370px { column-gap: 370px; }
.column-g-375px { column-gap: 375px; }
.column-g-380px { column-gap: 380px; }
.column-g-385px { column-gap: 385px; }
.column-g-390px { column-gap: 390px; }
.column-g-395px { column-gap: 395px; }
.column-g-400px { column-gap: 400px; }






.column-g-5p { column-gap: 5%; }
.column-g-10p { column-gap: 10%; }
.column-g-15p { column-gap: 15%; }
.column-g-20p { column-gap: 20%; }
.column-g-25p { column-gap: 25%; }
.column-g-30p { column-gap: 30%; }
.column-g-35p { column-gap: 35%; }
.column-g-40p { column-gap: 40%; }
.column-g-45p { column-gap: 45%; }
.column-g-50p { column-gap: 50%; }
.column-g-55p { column-gap: 55%; }
.column-g-60p { column-gap: 60%; }
.column-g-65p { column-gap: 65%; }
.column-g-70p { column-gap: 70%; }
.column-g-75p { column-gap: 75%; }
.column-g-80p { column-gap: 80%; }
.column-g-85p { column-gap: 85%; }
.column-g-90p { column-gap: 90%; }
.column-g-95p { column-gap: 95%; }
.column-g-100p { column-gap: 100%; }


.grid-c-s-1 { grid-column-start: 1; }
.grid-c-s-2 { grid-column-start: 2; }
.grid-c-s-3 { grid-column-start: 3; }
.grid-c-s-4 { grid-column-start: 4; }
.grid-c-s-5 { grid-column-start: 5; }
.grid-c-s-6 { grid-column-start: 6; }
.grid-c-s-7 { grid-column-start: 7; }
.grid-c-s-8 { grid-column-start: 8; }
.grid-c-s-9 { grid-column-start: 9; }
.grid-c-s-10 { grid-column-start: 10; }
.grid-c-s-11 { grid-column-start: 11; }
.grid-c-s-12 { grid-column-start: 12; }
.grid-c-s-13 { grid-column-start: 13; }
.grid-c-s-14 { grid-column-start: 14; }
.grid-c-s-15 { grid-column-start: 15; }
.grid-c-s-16 { grid-column-start: 16; }
.grid-c-s-17 { grid-column-start: 17; }
.grid-c-s-18 { grid-column-start: 18; }
.grid-c-s-19 { grid-column-start: 19; }
.grid-c-s-20 { grid-column-start: 20; }


.grid-c-e-1 { grid-column-end: 1; }
.grid-c-e-2 { grid-column-end: 2; }
.grid-c-e-3 { grid-column-end: 3; }
.grid-c-e-4 { grid-column-end: 4; }
.grid-c-e-5 { grid-column-end: 5; }
.grid-c-e-6 { grid-column-end: 6; }
.grid-c-e-7 { grid-column-end: 7; }
.grid-c-e-8 { grid-column-end: 8; }
.grid-c-e-9 { grid-column-end: 9; }
.grid-c-e-10 { grid-column-end: 10; }
.grid-c-e-11 { grid-column-end: 11; }
.grid-c-e-12 { grid-column-end: 12; }
.grid-c-e-13 { grid-column-end: 13; }
.grid-c-e-14 { grid-column-end: 14; }
.grid-c-e-15 { grid-column-end: 15; }
.grid-c-e-16 { grid-column-end: 16; }
.grid-c-e-17 { grid-column-end: 17; }
.grid-c-e-18 { grid-column-end: 18; }
.grid-c-e-19 { grid-column-end: 19; }
.grid-c-e-20 { grid-column-end: 20; }

.grid-r-s-1 { grid-row-start: 1; }
.grid-r-s-2 { grid-row-start: 2; }
.grid-r-s-3 { grid-row-start: 3; }
.grid-r-s-4 { grid-row-start: 4; }
.grid-r-s-5 { grid-row-start: 5; }
.grid-r-s-6 { grid-row-start: 6; }
.grid-r-s-7 { grid-row-start: 7; }
.grid-r-s-8 { grid-row-start: 8; }
.grid-r-s-9 { grid-row-start: 9; }
.grid-r-s-10 { grid-row-start: 10; }
.grid-r-s-11 { grid-row-start: 11; }
.grid-r-s-12 { grid-row-start: 12; }
.grid-r-s-13 { grid-row-start: 13; }
.grid-r-s-14 { grid-row-start: 14; }
.grid-r-s-15 { grid-row-start: 15; }
.grid-r-s-16 { grid-row-start: 16; }
.grid-r-s-17 { grid-row-start: 17; }
.grid-r-s-18 { grid-row-start: 18; }
.grid-r-s-19 { grid-row-start: 19; }
.grid-r-s-20 { grid-row-start: 20; }


.grid-r-e-1 { grid-row-end: 1; }
.grid-r-e-2 { grid-row-end: 2; }
.grid-r-e-3 { grid-row-end: 3; }
.grid-r-e-4 { grid-row-end: 4; }
.grid-r-e-5 { grid-row-end: 5; }
.grid-r-e-6 { grid-row-end: 6; }
.grid-r-e-7 { grid-row-end: 7; }
.grid-r-e-8 { grid-row-end: 8; }
.grid-r-e-9 { grid-row-end: 9; }
.grid-r-e-10 { grid-row-end: 10; }
.grid-r-e-11 { grid-row-end: 11; }
.grid-r-e-12 { grid-row-end: 12; }
.grid-r-e-13 { grid-row-end: 13; }
.grid-r-e-14 { grid-row-end: 14; }
.grid-r-e-15 { grid-row-end: 15; }
.grid-r-e-16 { grid-row-end: 16; }
.grid-r-e-17 { grid-row-end: 17; }
.grid-r-e-18 { grid-row-end: 18; }
.grid-r-e-19 { grid-row-end: 19; }
.grid-r-e-20 { grid-row-end: 20; }
