/* 
    Flex Display Types 
*/

.d-flex{ display: flex; flex-direction: row; }
.d-flex-col{ display: flex; flex-direction: column; }

/* 
    Justify Content 
*/

.jc-f-start{ justify-content: flex-start; }
.jc-center{ justify-content: center; }
.jc-f-end{ justify-content: flex-end; }
.jc-s-e{ justify-content: space-evenly; }
.jc-s-a{ justify-content: space-around; }
.jc-s-b{ justify-content: space-between; }
.jc-f-start{ justify-content: start; }
.jc-f-end{ justify-content: end; }

/* 
    Align Itens 
*/

.ai-flex-start{ align-items: flex-start; }
.ai-center{ align-items: center; }
.ai-flex-end{ align-items: flex-end; }


/* 
    Gap - Ranging from 10px to 1000px
    Feel free to add more sizes as needed 
*/

.g-10px { gap: 10px; }
.g-11px { gap: 11px; }
.g-12px { gap: 12px; }
.g-13px { gap: 13px; }
.g-14px { gap: 14px; }
.g-15px { gap: 15px; }
.g-16px { gap: 16px; }
.g-17px { gap: 17px; }
.g-18px { gap: 18px; }
.g-19px { gap: 19px; }
.g-20px { gap: 20px; }
.g-21px { gap: 21px; }
.g-22px { gap: 22px; }
.g-23px { gap: 23px; }
.g-24px { gap: 24px; }
.g-25px { gap: 25px; }
.g-26px { gap: 26px; }
.g-27px { gap: 27px; }
.g-28px { gap: 28px; }
.g-29px { gap: 29px; }
.g-30px { gap: 30px; }
.g-31px { gap: 31px; }
.g-32px { gap: 32px; }
.g-33px { gap: 33px; }
.g-34px { gap: 34px; }
.g-35px { gap: 35px; }
.g-36px { gap: 36px; }
.g-37px { gap: 37px; }
.g-38px { gap: 38px; }
.g-39px { gap: 39px; }
.g-40px { gap: 40px; }
.g-41px { gap: 41px; }
.g-42px { gap: 42px; }
.g-43px { gap: 43px; }
.g-44px { gap: 44px; }
.g-45px { gap: 45px; }
.g-46px { gap: 46px; }
.g-47px { gap: 47px; }
.g-48px { gap: 48px; }
.g-49px { gap: 49px; }
.g-50px { gap: 50px; }
.g-51px { gap: 51px; }
.g-52px { gap: 52px; }
.g-53px { gap: 53px; }
.g-54px { gap: 54px; }
.g-55px { gap: 55px; }
.g-56px { gap: 56px; }
.g-57px { gap: 57px; }
.g-58px { gap: 58px; }
.g-59px { gap: 59px; }
.g-60px { gap: 60px; }
.g-61px { gap: 61px; }
.g-62px { gap: 62px; }
.g-63px { gap: 63px; }
.g-64px { gap: 64px; }
.g-65px { gap: 65px; }
.g-66px { gap: 66px; }
.g-67px { gap: 67px; }
.g-68px { gap: 68px; }
.g-69px { gap: 69px; }
.g-70px { gap: 70px; }
.g-71px { gap: 71px; }
.g-72px { gap: 72px; }
.g-73px { gap: 73px; }
.g-74px { gap: 74px; }
.g-75px { gap: 75px; }
.g-76px { gap: 76px; }
.g-77px { gap: 77px; }
.g-78px { gap: 78px; }
.g-79px { gap: 79px; }
.g-80px { gap: 80px; }
.g-81px { gap: 81px; }
.g-82px { gap: 82px; }
.g-83px { gap: 83px; }
.g-84px { gap: 84px; }
.g-85px { gap: 85px; }
.g-86px { gap: 86px; }
.g-87px { gap: 87px; }
.g-88px { gap: 88px; }
.g-89px { gap: 89px; }
.g-90px { gap: 90px; }
.g-91px { gap: 91px; }
.g-92px { gap: 92px; }
.g-93px { gap: 93px; }
.g-94px { gap: 94px; }
.g-95px { gap: 95px; }
.g-96px { gap: 96px; }
.g-97px { gap: 97px; }
.g-98px { gap: 98px; }
.g-99px { gap: 99px; }
.g-100px { gap: 100px; }
.g-101px { gap: 101px; }
.g-102px { gap: 102px; }
.g-103px { gap: 103px; }
.g-104px { gap: 104px; }
.g-105px { gap: 105px; }
.g-106px { gap: 106px; }
.g-107px { gap: 107px; }
.g-108px { gap: 108px; }
.g-109px { gap: 109px; }
.g-110px { gap: 110px; }
.g-111px { gap: 111px; }
.g-112px { gap: 112px; }
.g-113px { gap: 113px; }
.g-114px { gap: 114px; }
.g-115px { gap: 115px; }
.g-116px { gap: 116px; }
.g-117px { gap: 117px; }
.g-118px { gap: 118px; }
.g-119px { gap: 119px; }
.g-120px { gap: 120px; }
.g-121px { gap: 121px; }
.g-122px { gap: 122px; }
.g-123px { gap: 123px; }
.g-124px { gap: 124px; }
.g-125px { gap: 125px; }
.g-126px { gap: 126px; }
.g-127px { gap: 127px; }
.g-128px { gap: 128px; }
.g-129px { gap: 129px; }
.g-130px { gap: 130px; }
.g-131px { gap: 131px; }
.g-132px { gap: 132px; }
.g-133px { gap: 133px; }
.g-134px { gap: 134px; }
.g-135px { gap: 135px; }
.g-136px { gap: 136px; }
.g-137px { gap: 137px; }
.g-138px { gap: 138px; }
.g-139px { gap: 139px; }
.g-140px { gap: 140px; }
.g-141px { gap: 141px; }
.g-142px { gap: 142px; }
.g-143px { gap: 143px; }
.g-144px { gap: 144px; }
.g-145px { gap: 145px; }
.g-146px { gap: 146px; }
.g-147px { gap: 147px; }
.g-148px { gap: 148px; }
.g-149px { gap: 149px; }
.g-150px { gap: 150px; }
.g-151px { gap: 151px; }
.g-152px { gap: 152px; }
.g-153px { gap: 153px; }
.g-154px { gap: 154px; }
.g-155px { gap: 155px; }
.g-156px { gap: 156px; }
.g-157px { gap: 157px; }
.g-158px { gap: 158px; }
.g-159px { gap: 159px; }
.g-160px { gap: 160px; }
.g-161px { gap: 161px; }
.g-162px { gap: 162px; }
.g-163px { gap: 163px; }
.g-164px { gap: 164px; }
.g-165px { gap: 165px; }
.g-166px { gap: 166px; }
.g-167px { gap: 167px; }
.g-168px { gap: 168px; }
.g-169px { gap: 169px; }
.g-170px { gap: 170px; }
.g-171px { gap: 171px; }
.g-172px { gap: 172px; }
.g-173px { gap: 173px; }
.g-174px { gap: 174px; }
.g-175px { gap: 175px; }
.g-176px { gap: 176px; }
.g-177px { gap: 177px; }
.g-178px { gap: 178px; }
.g-179px { gap: 179px; }
.g-180px { gap: 180px; }
.g-181px { gap: 181px; }
.g-182px { gap: 182px; }
.g-183px { gap: 183px; }
.g-184px { gap: 184px; }
.g-185px { gap: 185px; }
.g-186px { gap: 186px; }
.g-187px { gap: 187px; }
.g-188px { gap: 188px; }
.g-189px { gap: 189px; }
.g-190px { gap: 190px; }
.g-191px { gap: 191px; }
.g-192px { gap: 192px; }
.g-193px { gap: 193px; }
.g-194px { gap: 194px; }
.g-195px { gap: 195px; }
.g-196px { gap: 196px; }
.g-197px { gap: 197px; }
.g-198px { gap: 198px; }
.g-199px { gap: 199px; }
.g-200px { gap: 200px; }
.g-201px { gap: 201px; }
.g-202px { gap: 202px; }
.g-203px { gap: 203px; }
.g-204px { gap: 204px; }
.g-205px { gap: 205px; }
.g-206px { gap: 206px; }
.g-207px { gap: 207px; }
.g-208px { gap: 208px; }
.g-209px { gap: 209px; }
.g-210px { gap: 210px; }
.g-211px { gap: 211px; }
.g-212px { gap: 212px; }
.g-213px { gap: 213px; }
.g-214px { gap: 214px; }
.g-215px { gap: 215px; }
.g-216px { gap: 216px; }
.g-217px { gap: 217px; }
.g-218px { gap: 218px; }
.g-219px { gap: 219px; }
.g-220px { gap: 220px; }
.g-221px { gap: 221px; }
.g-222px { gap: 222px; }
.g-223px { gap: 223px; }
.g-224px { gap: 224px; }
.g-225px { gap: 225px; }
.g-226px { gap: 226px; }
.g-227px { gap: 227px; }
.g-228px { gap: 228px; }
.g-229px { gap: 229px; }
.g-230px { gap: 230px; }
.g-231px { gap: 231px; }
.g-232px { gap: 232px; }
.g-233px { gap: 233px; }
.g-234px { gap: 234px; }
.g-235px { gap: 235px; }
.g-236px { gap: 236px; }
.g-237px { gap: 237px; }
.g-238px { gap: 238px; }
.g-239px { gap: 239px; }
.g-240px { gap: 240px; }
.g-241px { gap: 241px; }
.g-242px { gap: 242px; }
.g-243px { gap: 243px; }
.g-244px { gap: 244px; }
.g-245px { gap: 245px; }
.g-246px { gap: 246px; }
.g-247px { gap: 247px; }
.g-248px { gap: 248px; }
.g-249px { gap: 249px; }
.g-250px { gap: 250px; }
.g-251px { gap: 251px; }
.g-252px { gap: 252px; }
.g-253px { gap: 253px; }
.g-254px { gap: 254px; }
.g-255px { gap: 255px; }
.g-256px { gap: 256px; }
.g-257px { gap: 257px; }
.g-258px { gap: 258px; }
.g-259px { gap: 259px; }
.g-260px { gap: 260px; }
.g-261px { gap: 261px; }
.g-262px { gap: 262px; }
.g-263px { gap: 263px; }
.g-264px { gap: 264px; }
.g-265px { gap: 265px; }
.g-266px { gap: 266px; }
.g-267px { gap: 267px; }
.g-268px { gap: 268px; }
.g-269px { gap: 269px; }
.g-270px { gap: 270px; }
.g-271px { gap: 271px; }
.g-272px { gap: 272px; }
.g-273px { gap: 273px; }
.g-274px { gap: 274px; }
.g-275px { gap: 275px; }
.g-276px { gap: 276px; }
.g-277px { gap: 277px; }
.g-278px { gap: 278px; }
.g-279px { gap: 279px; }
.g-280px { gap: 280px; }
.g-281px { gap: 281px; }
.g-282px { gap: 282px; }
.g-283px { gap: 283px; }
.g-284px { gap: 284px; }
.g-285px { gap: 285px; }
.g-286px { gap: 286px; }
.g-287px { gap: 287px; }
.g-288px { gap: 288px; }
.g-289px { gap: 289px; }
.g-290px { gap: 290px; }
.g-291px { gap: 291px; }
.g-292px { gap: 292px; }
.g-293px { gap: 293px; }
.g-294px { gap: 294px; }
.g-295px { gap: 295px; }
.g-296px { gap: 296px; }
.g-297px { gap: 297px; }
.g-298px { gap: 298px; }
.g-299px { gap: 299px; }
.g-300px { gap: 300px; }
.g-301px { gap: 301px; }
.g-302px { gap: 302px; }
.g-303px { gap: 303px; }
.g-304px { gap: 304px; }
.g-305px { gap: 305px; }
.g-306px { gap: 306px; }
.g-307px { gap: 307px; }
.g-308px { gap: 308px; }
.g-309px { gap: 309px; }
.g-310px { gap: 310px; }
.g-311px { gap: 311px; }
.g-312px { gap: 312px; }
.g-313px { gap: 313px; }
.g-314px { gap: 314px; }
.g-315px { gap: 315px; }
.g-316px { gap: 316px; }
.g-317px { gap: 317px; }
.g-318px { gap: 318px; }
.g-319px { gap: 319px; }
.g-320px { gap: 320px; }
.g-321px { gap: 321px; }
.g-322px { gap: 322px; }
.g-323px { gap: 323px; }
.g-324px { gap: 324px; }
.g-325px { gap: 325px; }
.g-326px { gap: 326px; }
.g-327px { gap: 327px; }
.g-328px { gap: 328px; }
.g-329px { gap: 329px; }
.g-330px { gap: 330px; }
.g-331px { gap: 331px; }
.g-332px { gap: 332px; }
.g-333px { gap: 333px; }
.g-334px { gap: 334px; }
.g-335px { gap: 335px; }
.g-336px { gap: 336px; }
.g-337px { gap: 337px; }
.g-338px { gap: 338px; }
.g-339px { gap: 339px; }
.g-340px { gap: 340px; }
.g-341px { gap: 341px; }
.g-342px { gap: 342px; }
.g-343px { gap: 343px; }
.g-344px { gap: 344px; }
.g-345px { gap: 345px; }
.g-346px { gap: 346px; }
.g-347px { gap: 347px; }
.g-348px { gap: 348px; }
.g-349px { gap: 349px; }
.g-350px { gap: 350px; }
.g-351px { gap: 351px; }
.g-352px { gap: 352px; }
.g-353px { gap: 353px; }
.g-354px { gap: 354px; }
.g-355px { gap: 355px; }
.g-356px { gap: 356px; }
.g-357px { gap: 357px; }
.g-358px { gap: 358px; }
.g-359px { gap: 359px; }
.g-360px { gap: 360px; }
.g-361px { gap: 361px; }
.g-362px { gap: 362px; }
.g-363px { gap: 363px; }
.g-364px { gap: 364px; }
.g-365px { gap: 365px; }
.g-366px { gap: 366px; }
.g-367px { gap: 367px; }
.g-368px { gap: 368px; }
.g-369px { gap: 369px; }
.g-370px { gap: 370px; }
.g-371px { gap: 371px; }
.g-372px { gap: 372px; }
.g-373px { gap: 373px; }
.g-374px { gap: 374px; }
.g-375px { gap: 375px; }
.g-376px { gap: 376px; }
.g-377px { gap: 377px; }
.g-378px { gap: 378px; }
.g-379px { gap: 379px; }
.g-380px { gap: 380px; }
.g-381px { gap: 381px; }
.g-382px { gap: 382px; }
.g-383px { gap: 383px; }
.g-384px { gap: 384px; }
.g-385px { gap: 385px; }
.g-386px { gap: 386px; }
.g-387px { gap: 387px; }
.g-388px { gap: 388px; }
.g-389px { gap: 389px; }
.g-390px { gap: 390px; }
.g-391px { gap: 391px; }
.g-392px { gap: 392px; }
.g-393px { gap: 393px; }
.g-394px { gap: 394px; }
.g-395px { gap: 395px; }
.g-396px { gap: 396px; }
.g-397px { gap: 397px; }
.g-398px { gap: 398px; }
.g-399px { gap: 399px; }
.g-400px { gap: 400px; }
.g-401px { gap: 401px; }
.g-402px { gap: 402px; }
.g-403px { gap: 403px; }
.g-404px { gap: 404px; }
.g-405px { gap: 405px; }
.g-406px { gap: 406px; }
.g-407px { gap: 407px; }
.g-408px { gap: 408px; }
.g-409px { gap: 409px; }
.g-410px { gap: 410px; }
.g-411px { gap: 411px; }
.g-412px { gap: 412px; }
.g-413px { gap: 413px; }
.g-414px { gap: 414px; }
.g-415px { gap: 415px; }
.g-416px { gap: 416px; }
.g-417px { gap: 417px; }
.g-418px { gap: 418px; }
.g-419px { gap: 419px; }
.g-420px { gap: 420px; }
.g-421px { gap: 421px; }
.g-422px { gap: 422px; }
.g-423px { gap: 423px; }
.g-424px { gap: 424px; }
.g-425px { gap: 425px; }
.g-426px { gap: 426px; }
.g-427px { gap: 427px; }
.g-428px { gap: 428px; }
.g-429px { gap: 429px; }
.g-430px { gap: 430px; }
.g-431px { gap: 431px; }
.g-432px { gap: 432px; }
.g-433px { gap: 433px; }
.g-434px { gap: 434px; }
.g-435px { gap: 435px; }
.g-436px { gap: 436px; }
.g-437px { gap: 437px; }
.g-438px { gap: 438px; }
.g-439px { gap: 439px; }
.g-440px { gap: 440px; }
.g-441px { gap: 441px; }
.g-442px { gap: 442px; }
.g-443px { gap: 443px; }
.g-444px { gap: 444px; }
.g-445px { gap: 445px; }
.g-446px { gap: 446px; }
.g-447px { gap: 447px; }
.g-448px { gap: 448px; }
.g-449px { gap: 449px; }
.g-450px { gap: 450px; }
.g-451px { gap: 451px; }
.g-452px { gap: 452px; }
.g-453px { gap: 453px; }
.g-454px { gap: 454px; }
.g-455px { gap: 455px; }
.g-456px { gap: 456px; }
.g-457px { gap: 457px; }
.g-458px { gap: 458px; }
.g-459px { gap: 459px; }
.g-460px { gap: 460px; }
.g-461px { gap: 461px; }
.g-462px { gap: 462px; }
.g-463px { gap: 463px; }
.g-464px { gap: 464px; }
.g-465px { gap: 465px; }
.g-466px { gap: 466px; }
.g-467px { gap: 467px; }
.g-468px { gap: 468px; }
.g-469px { gap: 469px; }
.g-470px { gap: 470px; }
.g-471px { gap: 471px; }
.g-472px { gap: 472px; }
.g-473px { gap: 473px; }
.g-474px { gap: 474px; }
.g-475px { gap: 475px; }
.g-476px { gap: 476px; }
.g-477px { gap: 477px; }
.g-478px { gap: 478px; }
.g-479px { gap: 479px; }
.g-480px { gap: 480px; }
.g-481px { gap: 481px; }
.g-482px { gap: 482px; }
.g-483px { gap: 483px; }
.g-484px { gap: 484px; }
.g-485px { gap: 485px; }
.g-486px { gap: 486px; }
.g-487px { gap: 487px; }
.g-488px { gap: 488px; }
.g-489px { gap: 489px; }
.g-490px { gap: 490px; }
.g-491px { gap: 491px; }
.g-492px { gap: 492px; }
.g-493px { gap: 493px; }
.g-494px { gap: 494px; }
.g-495px { gap: 495px; }
.g-496px { gap: 496px; }
.g-497px { gap: 497px; }
.g-498px { gap: 498px; }
.g-499px { gap: 499px; }
.g-500px { gap: 500px; }
.g-501px { gap: 501px; }
.g-502px { gap: 502px; }
.g-503px { gap: 503px; }
.g-504px { gap: 504px; }
.g-505px { gap: 505px; }
.g-506px { gap: 506px; }
.g-507px { gap: 507px; }
.g-508px { gap: 508px; }
.g-509px { gap: 509px; }
.g-510px { gap: 510px; }
.g-511px { gap: 511px; }
.g-512px { gap: 512px; }
.g-513px { gap: 513px; }
.g-514px { gap: 514px; }
.g-515px { gap: 515px; }
.g-516px { gap: 516px; }
.g-517px { gap: 517px; }
.g-518px { gap: 518px; }
.g-519px { gap: 519px; }
.g-520px { gap: 520px; }
.g-521px { gap: 521px; }
.g-522px { gap: 522px; }
.g-523px { gap: 523px; }
.g-524px { gap: 524px; }
.g-525px { gap: 525px; }
.g-526px { gap: 526px; }
.g-527px { gap: 527px; }
.g-528px { gap: 528px; }
.g-529px { gap: 529px; }
.g-530px { gap: 530px; }
.g-531px { gap: 531px; }
.g-532px { gap: 532px; }
.g-533px { gap: 533px; }
.g-534px { gap: 534px; }
.g-535px { gap: 535px; }
.g-536px { gap: 536px; }
.g-537px { gap: 537px; }
.g-538px { gap: 538px; }
.g-539px { gap: 539px; }
.g-540px { gap: 540px; }
.g-541px { gap: 541px; }
.g-542px { gap: 542px; }
.g-543px { gap: 543px; }
.g-544px { gap: 544px; }
.g-545px { gap: 545px; }
.g-546px { gap: 546px; }
.g-547px { gap: 547px; }
.g-548px { gap: 548px; }
.g-549px { gap: 549px; }
.g-550px { gap: 550px; }
.g-551px { gap: 551px; }
.g-552px { gap: 552px; }
.g-553px { gap: 553px; }
.g-554px { gap: 554px; }
.g-555px { gap: 555px; }
.g-556px { gap: 556px; }
.g-557px { gap: 557px; }
.g-558px { gap: 558px; }
.g-559px { gap: 559px; }
.g-560px { gap: 560px; }
.g-561px { gap: 561px; }
.g-562px { gap: 562px; }
.g-563px { gap: 563px; }
.g-564px { gap: 564px; }
.g-565px { gap: 565px; }
.g-566px { gap: 566px; }
.g-567px { gap: 567px; }
.g-568px { gap: 568px; }
.g-569px { gap: 569px; }
.g-570px { gap: 570px; }
.g-571px { gap: 571px; }
.g-572px { gap: 572px; }
.g-573px { gap: 573px; }
.g-574px { gap: 574px; }
.g-575px { gap: 575px; }
.g-576px { gap: 576px; }
.g-577px { gap: 577px; }
.g-578px { gap: 578px; }
.g-579px { gap: 579px; }
.g-580px { gap: 580px; }
.g-581px { gap: 581px; }
.g-582px { gap: 582px; }
.g-583px { gap: 583px; }
.g-584px { gap: 584px; }
.g-585px { gap: 585px; }
.g-586px { gap: 586px; }
.g-587px { gap: 587px; }
.g-588px { gap: 588px; }
.g-589px { gap: 589px; }
.g-590px { gap: 590px; }
.g-591px { gap: 591px; }
.g-592px { gap: 592px; }
.g-593px { gap: 593px; }
.g-594px { gap: 594px; }
.g-595px { gap: 595px; }
.g-596px { gap: 596px; }
.g-597px { gap: 597px; }
.g-598px { gap: 598px; }
.g-599px { gap: 599px; }
.g-600px { gap: 600px; }
.g-601px { gap: 601px; }
.g-602px { gap: 602px; }
.g-603px { gap: 603px; }
.g-604px { gap: 604px; }
.g-605px { gap: 605px; }
.g-606px { gap: 606px; }
.g-607px { gap: 607px; }
.g-608px { gap: 608px; }
.g-609px { gap: 609px; }
.g-610px { gap: 610px; }
.g-611px { gap: 611px; }
.g-612px { gap: 612px; }
.g-613px { gap: 613px; }
.g-614px { gap: 614px; }
.g-615px { gap: 615px; }
.g-616px { gap: 616px; }
.g-617px { gap: 617px; }
.g-618px { gap: 618px; }
.g-619px { gap: 619px; }
.g-620px { gap: 620px; }
.g-621px { gap: 621px; }
.g-622px { gap: 622px; }
.g-623px { gap: 623px; }
.g-624px { gap: 624px; }
.g-625px { gap: 625px; }
.g-626px { gap: 626px; }
.g-627px { gap: 627px; }
.g-628px { gap: 628px; }
.g-629px { gap: 629px; }
.g-630px { gap: 630px; }
.g-631px { gap: 631px; }
.g-632px { gap: 632px; }
.g-633px { gap: 633px; }
.g-634px { gap: 634px; }
.g-635px { gap: 635px; }
.g-636px { gap: 636px; }
.g-637px { gap: 637px; }
.g-638px { gap: 638px; }
.g-639px { gap: 639px; }
.g-640px { gap: 640px; }
.g-641px { gap: 641px; }
.g-642px { gap: 642px; }
.g-643px { gap: 643px; }
.g-644px { gap: 644px; }
.g-645px { gap: 645px; }
.g-646px { gap: 646px; }
.g-647px { gap: 647px; }
.g-648px { gap: 648px; }
.g-649px { gap: 649px; }
.g-650px { gap: 650px; }
.g-651px { gap: 651px; }
.g-652px { gap: 652px; }
.g-653px { gap: 653px; }
.g-654px { gap: 654px; }
.g-655px { gap: 655px; }
.g-656px { gap: 656px; }
.g-657px { gap: 657px; }
.g-658px { gap: 658px; }
.g-659px { gap: 659px; }
.g-660px { gap: 660px; }
.g-661px { gap: 661px; }
.g-662px { gap: 662px; }
.g-663px { gap: 663px; }
.g-664px { gap: 664px; }
.g-665px { gap: 665px; }
.g-666px { gap: 666px; }
.g-667px { gap: 667px; }
.g-668px { gap: 668px; }
.g-669px { gap: 669px; }
.g-670px { gap: 670px; }
.g-671px { gap: 671px; }
.g-672px { gap: 672px; }
.g-673px { gap: 673px; }
.g-674px { gap: 674px; }
.g-675px { gap: 675px; }
.g-676px { gap: 676px; }
.g-677px { gap: 677px; }
.g-678px { gap: 678px; }
.g-679px { gap: 679px; }
.g-680px { gap: 680px; }
.g-681px { gap: 681px; }
.g-682px { gap: 682px; }
.g-683px { gap: 683px; }
.g-684px { gap: 684px; }
.g-685px { gap: 685px; }
.g-686px { gap: 686px; }
.g-687px { gap: 687px; }
.g-688px { gap: 688px; }
.g-689px { gap: 689px; }
.g-690px { gap: 690px; }
.g-691px { gap: 691px; }
.g-692px { gap: 692px; }
.g-693px { gap: 693px; }
.g-694px { gap: 694px; }
.g-695px { gap: 695px; }
.g-696px { gap: 696px; }
.g-697px { gap: 697px; }
.g-698px { gap: 698px; }
.g-699px { gap: 699px; }
.g-700px { gap: 700px; }
.g-701px { gap: 701px; }
.g-702px { gap: 702px; }
.g-703px { gap: 703px; }
.g-704px { gap: 704px; }
.g-705px { gap: 705px; }
.g-706px { gap: 706px; }
.g-707px { gap: 707px; }
.g-708px { gap: 708px; }
.g-709px { gap: 709px; }
.g-710px { gap: 710px; }
.g-711px { gap: 711px; }
.g-712px { gap: 712px; }
.g-713px { gap: 713px; }
.g-714px { gap: 714px; }
.g-715px { gap: 715px; }
.g-716px { gap: 716px; }
.g-717px { gap: 717px; }
.g-718px { gap: 718px; }
.g-719px { gap: 719px; }
.g-720px { gap: 720px; }
.g-721px { gap: 721px; }
.g-722px { gap: 722px; }
.g-723px { gap: 723px; }
.g-724px { gap: 724px; }
.g-725px { gap: 725px; }
.g-726px { gap: 726px; }
.g-727px { gap: 727px; }
.g-728px { gap: 728px; }
.g-729px { gap: 729px; }
.g-730px { gap: 730px; }
.g-731px { gap: 731px; }
.g-732px { gap: 732px; }
.g-733px { gap: 733px; }
.g-734px { gap: 734px; }
.g-735px { gap: 735px; }
.g-736px { gap: 736px; }
.g-737px { gap: 737px; }
.g-738px { gap: 738px; }
.g-739px { gap: 739px; }
.g-740px { gap: 740px; }
.g-741px { gap: 741px; }
.g-742px { gap: 742px; }
.g-743px { gap: 743px; }
.g-744px { gap: 744px; }
.g-745px { gap: 745px; }
.g-746px { gap: 746px; }
.g-747px { gap: 747px; }
.g-748px { gap: 748px; }
.g-749px { gap: 749px; }
.g-750px { gap: 750px; }
.g-751px { gap: 751px; }
.g-752px { gap: 752px; }
.g-753px { gap: 753px; }
.g-754px { gap: 754px; }
.g-755px { gap: 755px; }
.g-756px { gap: 756px; }
.g-757px { gap: 757px; }
.g-758px { gap: 758px; }
.g-759px { gap: 759px; }
.g-760px { gap: 760px; }
.g-761px { gap: 761px; }
.g-762px { gap: 762px; }
.g-763px { gap: 763px; }
.g-764px { gap: 764px; }
.g-765px { gap: 765px; }
.g-766px { gap: 766px; }
.g-767px { gap: 767px; }
.g-768px { gap: 768px; }
.g-769px { gap: 769px; }
.g-770px { gap: 770px; }
.g-771px { gap: 771px; }
.g-772px { gap: 772px; }
.g-773px { gap: 773px; }
.g-774px { gap: 774px; }
.g-775px { gap: 775px; }
.g-776px { gap: 776px; }
.g-777px { gap: 777px; }
.g-778px { gap: 778px; }
.g-779px { gap: 779px; }
.g-780px { gap: 780px; }
.g-781px { gap: 781px; }
.g-782px { gap: 782px; }
.g-783px { gap: 783px; }
.g-784px { gap: 784px; }
.g-785px { gap: 785px; }
.g-786px { gap: 786px; }
.g-787px { gap: 787px; }
.g-788px { gap: 788px; }
.g-789px { gap: 789px; }
.g-790px { gap: 790px; }
.g-791px { gap: 791px; }
.g-792px { gap: 792px; }
.g-793px { gap: 793px; }
.g-794px { gap: 794px; }
.g-795px { gap: 795px; }
.g-796px { gap: 796px; }
.g-797px { gap: 797px; }
.g-798px { gap: 798px; }
.g-799px { gap: 799px; }
.g-800px { gap: 800px; }
.g-801px { gap: 801px; }
.g-802px { gap: 802px; }
.g-803px { gap: 803px; }
.g-804px { gap: 804px; }
.g-805px { gap: 805px; }
.g-806px { gap: 806px; }
.g-807px { gap: 807px; }
.g-808px { gap: 808px; }
.g-809px { gap: 809px; }
.g-810px { gap: 810px; }
.g-811px { gap: 811px; }
.g-812px { gap: 812px; }
.g-813px { gap: 813px; }
.g-814px { gap: 814px; }
.g-815px { gap: 815px; }
.g-816px { gap: 816px; }
.g-817px { gap: 817px; }
.g-818px { gap: 818px; }
.g-819px { gap: 819px; }
.g-820px { gap: 820px; }
.g-821px { gap: 821px; }
.g-822px { gap: 822px; }
.g-823px { gap: 823px; }
.g-824px { gap: 824px; }
.g-825px { gap: 825px; }
.g-826px { gap: 826px; }
.g-827px { gap: 827px; }
.g-828px { gap: 828px; }
.g-829px { gap: 829px; }
.g-830px { gap: 830px; }
.g-831px { gap: 831px; }
.g-832px { gap: 832px; }
.g-833px { gap: 833px; }
.g-834px { gap: 834px; }
.g-835px { gap: 835px; }
.g-836px { gap: 836px; }
.g-837px { gap: 837px; }
.g-838px { gap: 838px; }
.g-839px { gap: 839px; }
.g-840px { gap: 840px; }
.g-841px { gap: 841px; }
.g-842px { gap: 842px; }
.g-843px { gap: 843px; }
.g-844px { gap: 844px; }
.g-845px { gap: 845px; }
.g-846px { gap: 846px; }
.g-847px { gap: 847px; }
.g-848px { gap: 848px; }
.g-849px { gap: 849px; }
.g-850px { gap: 850px; }
.g-851px { gap: 851px; }
.g-852px { gap: 852px; }
.g-853px { gap: 853px; }
.g-854px { gap: 854px; }
.g-855px { gap: 855px; }
.g-856px { gap: 856px; }
.g-857px { gap: 857px; }
.g-858px { gap: 858px; }
.g-859px { gap: 859px; }
.g-860px { gap: 860px; }
.g-861px { gap: 861px; }
.g-862px { gap: 862px; }
.g-863px { gap: 863px; }
.g-864px { gap: 864px; }
.g-865px { gap: 865px; }
.g-866px { gap: 866px; }
.g-867px { gap: 867px; }
.g-868px { gap: 868px; }
.g-869px { gap: 869px; }
.g-870px { gap: 870px; }
.g-871px { gap: 871px; }
.g-872px { gap: 872px; }
.g-873px { gap: 873px; }
.g-874px { gap: 874px; }
.g-875px { gap: 875px; }
.g-876px { gap: 876px; }
.g-877px { gap: 877px; }
.g-878px { gap: 878px; }
.g-879px { gap: 879px; }
.g-880px { gap: 880px; }
.g-881px { gap: 881px; }
.g-882px { gap: 882px; }
.g-883px { gap: 883px; }
.g-884px { gap: 884px; }
.g-885px { gap: 885px; }
.g-886px { gap: 886px; }
.g-887px { gap: 887px; }
.g-888px { gap: 888px; }
.g-889px { gap: 889px; }
.g-890px { gap: 890px; }
.g-891px { gap: 891px; }
.g-892px { gap: 892px; }
.g-893px { gap: 893px; }
.g-894px { gap: 894px; }
.g-895px { gap: 895px; }
.g-896px { gap: 896px; }
.g-897px { gap: 897px; }
.g-898px { gap: 898px; }
.g-899px { gap: 899px; }
.g-900px { gap: 900px; }
.g-901px { gap: 901px; }
.g-902px { gap: 902px; }
.g-903px { gap: 903px; }
.g-904px { gap: 904px; }
.g-905px { gap: 905px; }
.g-906px { gap: 906px; }
.g-907px { gap: 907px; }
.g-908px { gap: 908px; }
.g-909px { gap: 909px; }
.g-910px { gap: 910px; }
.g-911px { gap: 911px; }
.g-912px { gap: 912px; }
.g-913px { gap: 913px; }
.g-914px { gap: 914px; }
.g-915px { gap: 915px; }
.g-916px { gap: 916px; }
.g-917px { gap: 917px; }
.g-918px { gap: 918px; }
.g-919px { gap: 919px; }
.g-920px { gap: 920px; }
.g-921px { gap: 921px; }
.g-922px { gap: 922px; }
.g-923px { gap: 923px; }
.g-924px { gap: 924px; }
.g-925px { gap: 925px; }
.g-926px { gap: 926px; }
.g-927px { gap: 927px; }
.g-928px { gap: 928px; }
.g-929px { gap: 929px; }
.g-930px { gap: 930px; }
.g-931px { gap: 931px; }
.g-932px { gap: 932px; }
.g-933px { gap: 933px; }
.g-934px { gap: 934px; }
.g-935px { gap: 935px; }
.g-936px { gap: 936px; }
.g-937px { gap: 937px; }
.g-938px { gap: 938px; }
.g-939px { gap: 939px; }
.g-940px { gap: 940px; }
.g-941px { gap: 941px; }
.g-942px { gap: 942px; }
.g-943px { gap: 943px; }
.g-944px { gap: 944px; }
.g-945px { gap: 945px; }
.g-946px { gap: 946px; }
.g-947px { gap: 947px; }
.g-948px { gap: 948px; }
.g-949px { gap: 949px; }
.g-950px { gap: 950px; }
.g-951px { gap: 951px; }
.g-952px { gap: 952px; }
.g-953px { gap: 953px; }
.g-954px { gap: 954px; }
.g-955px { gap: 955px; }
.g-956px { gap: 956px; }
.g-957px { gap: 957px; }
.g-958px { gap: 958px; }
.g-959px { gap: 959px; }
.g-960px { gap: 960px; }
.g-961px { gap: 961px; }
.g-962px { gap: 962px; }
.g-963px { gap: 963px; }
.g-964px { gap: 964px; }
.g-965px { gap: 965px; }
.g-966px { gap: 966px; }
.g-967px { gap: 967px; }
.g-968px { gap: 968px; }
.g-969px { gap: 969px; }
.g-970px { gap: 970px; }
.g-971px { gap: 971px; }
.g-972px { gap: 972px; }
.g-973px { gap: 973px; }
.g-974px { gap: 974px; }
.g-975px { gap: 975px; }
.g-976px { gap: 976px; }
.g-977px { gap: 977px; }
.g-978px { gap: 978px; }
.g-979px { gap: 979px; }
.g-980px { gap: 980px; }
.g-981px { gap: 981px; }
.g-982px { gap: 982px; }
.g-983px { gap: 983px; }
.g-984px { gap: 984px; }
.g-985px { gap: 985px; }
.g-986px { gap: 986px; }
.g-987px { gap: 987px; }
.g-988px { gap: 988px; }
.g-989px { gap: 989px; }
.g-990px { gap: 990px; }
.g-991px { gap: 991px; }
.g-992px { gap: 992px; }
.g-993px { gap: 993px; }
.g-994px { gap: 994px; }
.g-995px { gap: 995px; }
.g-996px { gap: 996px; }
.g-997px { gap: 997px; }
.g-998px { gap: 998px; }
.g-999px { gap: 999px; }
.g-1000px { gap: 1000px; }





/* 
    Gap - Ranging from 1% to 100%
    Feel free to add more sizes as needed 
*/

.g-1p { gap: 1%; }
.g-2p { gap: 2%; }
.g-3p { gap: 3%; }
.g-4p { gap: 4%; }
.g-5p { gap: 5%; }
.g-6p { gap: 6%; }
.g-7p { gap: 7%; }
.g-8p { gap: 8%; }
.g-9p { gap: 9%; }
.g-10p { gap: 10%; }
.g-11p { gap: 11%; }
.g-12p { gap: 12%; }
.g-13p { gap: 13%; }
.g-14p { gap: 14%; }
.g-15p { gap: 15%; }
.g-16p { gap: 16%; }
.g-17p { gap: 17%; }
.g-18p { gap: 18%; }
.g-19p { gap: 19%; }
.g-20p { gap: 20%; }
.g-21p { gap: 21%; }
.g-22p { gap: 22%; }
.g-23p { gap: 23%; }
.g-24p { gap: 24%; }
.g-25p { gap: 25%; }
.g-26p { gap: 26%; }
.g-27p { gap: 27%; }
.g-28p { gap: 28%; }
.g-29p { gap: 29%; }
.g-30p { gap: 30%; }
.g-31p { gap: 31%; }
.g-32p { gap: 32%; }
.g-33p { gap: 33%; }
.g-34p { gap: 34%; }
.g-35p { gap: 35%; }
.g-36p { gap: 36%; }
.g-37p { gap: 37%; }
.g-38p { gap: 38%; }
.g-39p { gap: 39%; }
.g-40p { gap: 40%; }
.g-41p { gap: 41%; }
.g-42p { gap: 42%; }
.g-43p { gap: 43%; }
.g-44p { gap: 44%; }
.g-45p { gap: 45%; }
.g-46p { gap: 46%; }
.g-47p { gap: 47%; }
.g-48p { gap: 48%; }
.g-49p { gap: 49%; }
.g-50p { gap: 50%; }
.g-51p { gap: 51%; }
.g-52p { gap: 52%; }
.g-53p { gap: 53%; }
.g-54p { gap: 54%; }
.g-55p { gap: 55%; }
.g-56p { gap: 56%; }
.g-57p { gap: 57%; }
.g-58p { gap: 58%; }
.g-59p { gap: 59%; }
.g-60p { gap: 60%; }
.g-61p { gap: 61%; }
.g-62p { gap: 62%; }
.g-63p { gap: 63%; }
.g-64p { gap: 64%; }
.g-65p { gap: 65%; }
.g-66p { gap: 66%; }
.g-67p { gap: 67%; }
.g-68p { gap: 68%; }
.g-69p { gap: 69%; }
.g-70p { gap: 70%; }
.g-71p { gap: 71%; }
.g-72p { gap: 72%; }
.g-73p { gap: 73%; }
.g-74p { gap: 74%; }
.g-75p { gap: 75%; }
.g-76p { gap: 76%; }
.g-77p { gap: 77%; }
.g-78p { gap: 78%; }
.g-79p { gap: 79%; }
.g-80p { gap: 80%; }
.g-81p { gap: 81%; }
.g-82p { gap: 82%; }
.g-83p { gap: 83%; }
.g-84p { gap: 84%; }
.g-85p { gap: 85%; }
.g-86p { gap: 86%; }
.g-87p { gap: 87%; }
.g-88p { gap: 88%; }
.g-89p { gap: 89%; }
.g-90p { gap: 90%; }
.g-91p { gap: 91%; }
.g-92p { gap: 92%; }
.g-93p { gap: 93%; }
.g-94p { gap: 94%; }
.g-95p { gap: 95%; }
.g-96p { gap: 96%; }
.g-97p { gap: 97%; }
.g-98p { gap: 98%; }
.g-99p { gap: 99%; }
.g-100p { gap: 100%; }


/* 
    Flex-Basis - Ranf-binf-b from 1% to 100%
    Feel free to add more sizes as needed 
*/

.f-b-1p { flex-basis: 1%; }
.f-b-2p { flex-basis: 2%; }
.f-b-3p { flex-basis: 3%; }
.f-b-4p { flex-basis: 4%; }
.f-b-5p { flex-basis: 5%; }
.f-b-6p { flex-basis: 6%; }
.f-b-7p { flex-basis: 7%; }
.f-b-8p { flex-basis: 8%; }
.f-b-9p { flex-basis: 9%; }
.f-b-10p { flex-basis: 10%; }
.f-b-11p { flex-basis: 11%; }
.f-b-12p { flex-basis: 12%; }
.f-b-13p { flex-basis: 13%; }
.f-b-14p { flex-basis: 14%; }
.f-b-15p { flex-basis: 15%; }
.f-b-16p { flex-basis: 16%; }
.f-b-17p { flex-basis: 17%; }
.f-b-18p { flex-basis: 18%; }
.f-b-19p { flex-basis: 19%; }
.f-b-20p { flex-basis: 20%; }
.f-b-21p { flex-basis: 21%; }
.f-b-22p { flex-basis: 22%; }
.f-b-23p { flex-basis: 23%; }
.f-b-24p { flex-basis: 24%; }
.f-b-25p { flex-basis: 25%; }
.f-b-26p { flex-basis: 26%; }
.f-b-27p { flex-basis: 27%; }
.f-b-28p { flex-basis: 28%; }
.f-b-29p { flex-basis: 29%; }
.f-b-30p { flex-basis: 30%; }
.f-b-31p { flex-basis: 31%; }
.f-b-32p { flex-basis: 32%; }
.f-b-33p { flex-basis: 33%; }
.f-b-34p { flex-basis: 34%; }
.f-b-35p { flex-basis: 35%; }
.f-b-36p { flex-basis: 36%; }
.f-b-37p { flex-basis: 37%; }
.f-b-38p { flex-basis: 38%; }
.f-b-39p { flex-basis: 39%; }
.f-b-40p { flex-basis: 40%; }
.f-b-41p { flex-basis: 41%; }
.f-b-42p { flex-basis: 42%; }
.f-b-43p { flex-basis: 43%; }
.f-b-44p { flex-basis: 44%; }
.f-b-45p { flex-basis: 45%; }
.f-b-46p { flex-basis: 46%; }
.f-b-47p { flex-basis: 47%; }
.f-b-48p { flex-basis: 48%; }
.f-b-49p { flex-basis: 49%; }
.f-b-50p { flex-basis: 50%; }
.f-b-51p { flex-basis: 51%; }
.f-b-52p { flex-basis: 52%; }
.f-b-53p { flex-basis: 53%; }
.f-b-54p { flex-basis: 54%; }
.f-b-55p { flex-basis: 55%; }
.f-b-56p { flex-basis: 56%; }
.f-b-57p { flex-basis: 57%; }
.f-b-58p { flex-basis: 58%; }
.f-b-59p { flex-basis: 59%; }
.f-b-60p { flex-basis: 60%; }
.f-b-61p { flex-basis: 61%; }
.f-b-62p { flex-basis: 62%; }
.f-b-63p { flex-basis: 63%; }
.f-b-64p { flex-basis: 64%; }
.f-b-65p { flex-basis: 65%; }
.f-b-66p { flex-basis: 66%; }
.f-b-67p { flex-basis: 67%; }
.f-b-68p { flex-basis: 68%; }
.f-b-69p { flex-basis: 69%; }
.f-b-70p { flex-basis: 70%; }
.f-b-71p { flex-basis: 71%; }
.f-b-72p { flex-basis: 72%; }
.f-b-73p { flex-basis: 73%; }
.f-b-74p { flex-basis: 74%; }
.f-b-75p { flex-basis: 75%; }
.f-b-76p { flex-basis: 76%; }
.f-b-77p { flex-basis: 77%; }
.f-b-78p { flex-basis: 78%; }
.f-b-79p { flex-basis: 79%; }
.f-b-80p { flex-basis: 80%; }
.f-b-81p { flex-basis: 81%; }
.f-b-82p { flex-basis: 82%; }
.f-b-83p { flex-basis: 83%; }
.f-b-84p { flex-basis: 84%; }
.f-b-85p { flex-basis: 85%; }
.f-b-86p { flex-basis: 86%; }
.f-b-87p { flex-basis: 87%; }
.f-b-88p { flex-basis: 88%; }
.f-b-89p { flex-basis: 89%; }
.f-b-90p { flex-basis: 90%; }
.f-b-91p { flex-basis: 91%; }
.f-b-92p { flex-basis: 92%; }
.f-b-93p { flex-basis: 93%; }
.f-b-94p { flex-basis: 94%; }
.f-b-95p { flex-basis: 95%; }
.f-b-96p { flex-basis: 96%; }
.f-b-97p { flex-basis: 97%; }
.f-b-98p { flex-basis: 98%; }
.f-b-99p { flex-basis: 99%; }
.f-b-100p { flex-basis: 100%; }







