/* 
    Font Sizes - Ranging from 10px to 100px
    Feel free to add more sizes as needed 
*/

.f-s-10px { font-size: 10px; }
.f-s-11px { font-size: 11px; }
.f-s-12px { font-size: 12px; }
.f-s-13px { font-size: 13px; }
.f-s-14px { font-size: 14px; }
.f-s-15px { font-size: 15px; }
.f-s-16px { font-size: 16px; }
.f-s-17px { font-size: 17px; }
.f-s-18px { font-size: 18px; }
.f-s-19px { font-size: 19px; }
.f-s-20px { font-size: 20px; }
.f-s-21px { font-size: 21px; }
.f-s-22px { font-size: 22px; }
.f-s-23px { font-size: 23px; }
.f-s-24px { font-size: 24px; }
.f-s-25px { font-size: 25px; }
.f-s-26px { font-size: 26px; }
.f-s-27px { font-size: 27px; }
.f-s-28px { font-size: 28px; }
.f-s-29px { font-size: 29px; }
.f-s-30px { font-size: 30px; }
.f-s-31px { font-size: 31px; }
.f-s-32px { font-size: 32px; }
.f-s-33px { font-size: 33px; }
.f-s-34px { font-size: 34px; }
.f-s-35px { font-size: 35px; }
.f-s-36px { font-size: 36px; }
.f-s-37px { font-size: 37px; }
.f-s-38px { font-size: 38px; }
.f-s-39px { font-size: 39px; }
.f-s-40px { font-size: 40px; }
.f-s-41px { font-size: 41px; }
.f-s-42px { font-size: 42px; }
.f-s-43px { font-size: 43px; }
.f-s-44px { font-size: 44px; }
.f-s-45px { font-size: 45px; }
.f-s-46px { font-size: 46px; }
.f-s-47px { font-size: 47px; }
.f-s-48px { font-size: 48px; }
.f-s-49px { font-size: 49px; }
.f-s-50px { font-size: 50px; }
.f-s-51px { font-size: 51px; }
.f-s-52px { font-size: 52px; }
.f-s-53px { font-size: 53px; }
.f-s-54px { font-size: 54px; }
.f-s-55px { font-size: 55px; }
.f-s-56px { font-size: 56px; }
.f-s-57px { font-size: 57px; }
.f-s-58px { font-size: 58px; }
.f-s-59px { font-size: 59px; }
.f-s-60px { font-size: 60px; }
.f-s-61px { font-size: 61px; }
.f-s-62px { font-size: 62px; }
.f-s-63px { font-size: 63px; }
.f-s-64px { font-size: 64px; }
.f-s-65px { font-size: 65px; }
.f-s-66px { font-size: 66px; }
.f-s-67px { font-size: 67px; }
.f-s-68px { font-size: 68px; }
.f-s-69px { font-size: 69px; }
.f-s-70px { font-size: 70px; }
.f-s-71px { font-size: 71px; }
.f-s-72px { font-size: 72px; }
.f-s-73px { font-size: 73px; }
.f-s-74px { font-size: 74px; }
.f-s-75px { font-size: 75px; }
.f-s-76px { font-size: 76px; }
.f-s-77px { font-size: 77px; }
.f-s-78px { font-size: 78px; }
.f-s-79px { font-size: 79px; }
.f-s-80px { font-size: 80px; }
.f-s-81px { font-size: 81px; }
.f-s-82px { font-size: 82px; }
.f-s-83px { font-size: 83px; }
.f-s-84px { font-size: 84px; }
.f-s-85px { font-size: 85px; }
.f-s-86px { font-size: 86px; }
.f-s-87px { font-size: 87px; }
.f-s-88px { font-size: 88px; }
.f-s-89px { font-size: 89px; }
.f-s-90px { font-size: 90px; }
.f-s-91px { font-size: 91px; }
.f-s-92px { font-size: 92px; }
.f-s-93px { font-size: 93px; }
.f-s-94px { font-size: 94px; }
.f-s-95px { font-size: 95px; }
.f-s-96px { font-size: 96px; }
.f-s-97px { font-size: 97px; }
.f-s-98px { font-size: 98px; }
.f-s-99px { font-size: 99px; }
.f-s-100px { font-size: 100px; }




/* 
    Font Sizes - Ranging from 0.1rem to 10rem
    Feel free to add more sizes as needed 
*/

.f-s-0_1rem { font-size: 0.1rem; }
.f-s-0_2rem { font-size: 0.2rem; }
.f-s-0_3rem { font-size: 0.3rem; }
.f-s-0_4rem { font-size: 0.4rem; }
.f-s-0_5rem { font-size: 0.5rem; }
.f-s-0_6rem { font-size: 0.6rem; }
.f-s-0_7rem { font-size: 0.7rem; }
.f-s-0_8rem { font-size: 0.8rem; }
.f-s-0_9rem { font-size: 0.9rem; }
.f-s-1rem { font-size: 1rem; }
.f-s-1_1rem { font-size: 1.1rem; }
.f-s-1_2rem { font-size: 1.2rem; }
.f-s-1_3rem { font-size: 1.3rem; }
.f-s-1_4rem { font-size: 1.4rem; }
.f-s-1_5rem { font-size: 1.5rem; }
.f-s-1_6rem { font-size: 1.6rem; }
.f-s-1_7rem { font-size: 1.7rem; }
.f-s-1_8rem { font-size: 1.8rem; }
.f-s-1_9rem { font-size: 1.9rem; }
.f-s-2rem { font-size: 2rem; }
.f-s-2_1rem { font-size: 2.1rem; }
.f-s-2_2rem { font-size: 2.2rem; }
.f-s-2_3rem { font-size: 2.3rem; }
.f-s-2_4rem { font-size: 2.4rem; }
.f-s-2_5rem { font-size: 2.5rem; }
.f-s-2_6rem { font-size: 2.6rem; }
.f-s-2_7rem { font-size: 2.7rem; }
.f-s-2_8rem { font-size: 2.8rem; }
.f-s-2_9rem { font-size: 2.9rem; }
.f-s-3rem { font-size: 3rem; }
.f-s-3_1rem { font-size: 3.1rem; }
.f-s-3_2rem { font-size: 3.2rem; }
.f-s-3_3rem { font-size: 3.3rem; }
.f-s-3_4rem { font-size: 3.4rem; }
.f-s-3_5rem { font-size: 3.5rem; }
.f-s-3_6rem { font-size: 3.6rem; }
.f-s-3_7rem { font-size: 3.7rem; }
.f-s-3_8rem { font-size: 3.8rem; }
.f-s-3_9rem { font-size: 3.9rem; }
.f-s-4rem { font-size: 4rem; }
.f-s-4_1rem { font-size: 4.1rem; }
.f-s-4_2rem { font-size: 4.2rem; }
.f-s-4_3rem { font-size: 4.3rem; }
.f-s-4_4rem { font-size: 4.4rem; }
.f-s-4_5rem { font-size: 4.5rem; }
.f-s-4_6rem { font-size: 4.6rem; }
.f-s-4_7rem { font-size: 4.7rem; }
.f-s-4_8rem { font-size: 4.8rem; }
.f-s-4_9rem { font-size: 4.9rem; }
.f-s-5rem { font-size: 5rem; }
.f-s-5_1rem { font-size: 5.1rem; }
.f-s-5_2rem { font-size: 5.2rem; }
.f-s-5_3rem { font-size: 5.3rem; }
.f-s-5_4rem { font-size: 5.4rem; }
.f-s-5_5rem { font-size: 5.5rem; }
.f-s-5_6rem { font-size: 5.6rem; }
.f-s-5_7rem { font-size: 5.7rem; }
.f-s-5_8rem { font-size: 5.8rem; }
.f-s-5_9rem { font-size: 5.9rem; }
.f-s-6rem { font-size: 6rem; }
.f-s-6_1rem { font-size: 6.1rem; }
.f-s-6_2rem { font-size: 6.2rem; }
.f-s-6_3rem { font-size: 6.3rem; }
.f-s-6_4rem { font-size: 6.4rem; }
.f-s-6_5rem { font-size: 6.5rem; }
.f-s-6_6rem { font-size: 6.6rem; }
.f-s-6_7rem { font-size: 6.7rem; }
.f-s-6_8rem { font-size: 6.8rem; }
.f-s-6_9rem { font-size: 6.9rem; }
.f-s-7rem { font-size: 7rem; }
.f-s-7_1rem { font-size: 7.1rem; }
.f-s-7_2rem { font-size: 7.2rem; }
.f-s-7_3rem { font-size: 7.3rem; }
.f-s-7_4rem { font-size: 7.4rem; }
.f-s-7_5rem { font-size: 7.5rem; }
.f-s-7_6rem { font-size: 7.6rem; }
.f-s-7_7rem { font-size: 7.7rem; }
.f-s-7_8rem { font-size: 7.8rem; }
.f-s-7_9rem { font-size: 7.9rem; }
.f-s-8rem { font-size: 8rem; }
.f-s-8_1rem { font-size: 8.1rem; }
.f-s-8_2rem { font-size: 8.2rem; }
.f-s-8_3rem { font-size: 8.3rem; }
.f-s-8_4rem { font-size: 8.4rem; }
.f-s-8_5rem { font-size: 8.5rem; }
.f-s-8_6rem { font-size: 8.6rem; }
.f-s-8_7rem { font-size: 8.7rem; }
.f-s-8_8rem { font-size: 8.8rem; }
.f-s-8_9rem { font-size: 8.9rem; }
.f-s-9rem { font-size: 9rem; }
.f-s-9_1rem { font-size: 9.1rem; }
.f-s-9_2rem { font-size: 9.2rem; }
.f-s-9_3rem { font-size: 9.3rem; }
.f-s-9_4rem { font-size: 9.4rem; }
.f-s-9_5rem { font-size: 9.5rem; }
.f-s-9_6rem { font-size: 9.6rem; }
.f-s-9_7rem { font-size: 9.7rem; }
.f-s-9_8rem { font-size: 9.8rem; }
.f-s-9_9rem { font-size: 9.9rem; }
.f-s-10rem { font-size: 10rem; }
