/* 
    Width - Ranging from 10px to 1000px
    Feel free to add more sizes as needed 
*/

.w-10px { width: 10px; }
.w-11px { width: 11px; }
.w-12px { width: 12px; }
.w-13px { width: 13px; }
.w-14px { width: 14px; }
.w-15px { width: 15px; }
.w-16px { width: 16px; }
.w-17px { width: 17px; }
.w-18px { width: 18px; }
.w-19px { width: 19px; }
.w-20px { width: 20px; }
.w-21px { width: 21px; }
.w-22px { width: 22px; }
.w-23px { width: 23px; }
.w-24px { width: 24px; }
.w-25px { width: 25px; }
.w-26px { width: 26px; }
.w-27px { width: 27px; }
.w-28px { width: 28px; }
.w-29px { width: 29px; }
.w-30px { width: 30px; }
.w-31px { width: 31px; }
.w-32px { width: 32px; }
.w-33px { width: 33px; }
.w-34px { width: 34px; }
.w-35px { width: 35px; }
.w-36px { width: 36px; }
.w-37px { width: 37px; }
.w-38px { width: 38px; }
.w-39px { width: 39px; }
.w-40px { width: 40px; }
.w-41px { width: 41px; }
.w-42px { width: 42px; }
.w-43px { width: 43px; }
.w-44px { width: 44px; }
.w-45px { width: 45px; }
.w-46px { width: 46px; }
.w-47px { width: 47px; }
.w-48px { width: 48px; }
.w-49px { width: 49px; }
.w-50px { width: 50px; }
.w-51px { width: 51px; }
.w-52px { width: 52px; }
.w-53px { width: 53px; }
.w-54px { width: 54px; }
.w-55px { width: 55px; }
.w-56px { width: 56px; }
.w-57px { width: 57px; }
.w-58px { width: 58px; }
.w-59px { width: 59px; }
.w-60px { width: 60px; }
.w-61px { width: 61px; }
.w-62px { width: 62px; }
.w-63px { width: 63px; }
.w-64px { width: 64px; }
.w-65px { width: 65px; }
.w-66px { width: 66px; }
.w-67px { width: 67px; }
.w-68px { width: 68px; }
.w-69px { width: 69px; }
.w-70px { width: 70px; }
.w-71px { width: 71px; }
.w-72px { width: 72px; }
.w-73px { width: 73px; }
.w-74px { width: 74px; }
.w-75px { width: 75px; }
.w-76px { width: 76px; }
.w-77px { width: 77px; }
.w-78px { width: 78px; }
.w-79px { width: 79px; }
.w-80px { width: 80px; }
.w-81px { width: 81px; }
.w-82px { width: 82px; }
.w-83px { width: 83px; }
.w-84px { width: 84px; }
.w-85px { width: 85px; }
.w-86px { width: 86px; }
.w-87px { width: 87px; }
.w-88px { width: 88px; }
.w-89px { width: 89px; }
.w-90px { width: 90px; }
.w-91px { width: 91px; }
.w-92px { width: 92px; }
.w-93px { width: 93px; }
.w-94px { width: 94px; }
.w-95px { width: 95px; }
.w-96px { width: 96px; }
.w-97px { width: 97px; }
.w-98px { width: 98px; }
.w-99px { width: 99px; }
.w-100px { width: 100px; }
.w-101px { width: 101px; }
.w-102px { width: 102px; }
.w-103px { width: 103px; }
.w-104px { width: 104px; }
.w-105px { width: 105px; }
.w-106px { width: 106px; }
.w-107px { width: 107px; }
.w-108px { width: 108px; }
.w-109px { width: 109px; }
.w-110px { width: 110px; }
.w-111px { width: 111px; }
.w-112px { width: 112px; }
.w-113px { width: 113px; }
.w-114px { width: 114px; }
.w-115px { width: 115px; }
.w-116px { width: 116px; }
.w-117px { width: 117px; }
.w-118px { width: 118px; }
.w-119px { width: 119px; }
.w-120px { width: 120px; }
.w-121px { width: 121px; }
.w-122px { width: 122px; }
.w-123px { width: 123px; }
.w-124px { width: 124px; }
.w-125px { width: 125px; }
.w-126px { width: 126px; }
.w-127px { width: 127px; }
.w-128px { width: 128px; }
.w-129px { width: 129px; }
.w-130px { width: 130px; }
.w-131px { width: 131px; }
.w-132px { width: 132px; }
.w-133px { width: 133px; }
.w-134px { width: 134px; }
.w-135px { width: 135px; }
.w-136px { width: 136px; }
.w-137px { width: 137px; }
.w-138px { width: 138px; }
.w-139px { width: 139px; }
.w-140px { width: 140px; }
.w-141px { width: 141px; }
.w-142px { width: 142px; }
.w-143px { width: 143px; }
.w-144px { width: 144px; }
.w-145px { width: 145px; }
.w-146px { width: 146px; }
.w-147px { width: 147px; }
.w-148px { width: 148px; }
.w-149px { width: 149px; }
.w-150px { width: 150px; }
.w-151px { width: 151px; }
.w-152px { width: 152px; }
.w-153px { width: 153px; }
.w-154px { width: 154px; }
.w-155px { width: 155px; }
.w-156px { width: 156px; }
.w-157px { width: 157px; }
.w-158px { width: 158px; }
.w-159px { width: 159px; }
.w-160px { width: 160px; }
.w-161px { width: 161px; }
.w-162px { width: 162px; }
.w-163px { width: 163px; }
.w-164px { width: 164px; }
.w-165px { width: 165px; }
.w-166px { width: 166px; }
.w-167px { width: 167px; }
.w-168px { width: 168px; }
.w-169px { width: 169px; }
.w-170px { width: 170px; }
.w-171px { width: 171px; }
.w-172px { width: 172px; }
.w-173px { width: 173px; }
.w-174px { width: 174px; }
.w-175px { width: 175px; }
.w-176px { width: 176px; }
.w-177px { width: 177px; }
.w-178px { width: 178px; }
.w-179px { width: 179px; }
.w-180px { width: 180px; }
.w-181px { width: 181px; }
.w-182px { width: 182px; }
.w-183px { width: 183px; }
.w-184px { width: 184px; }
.w-185px { width: 185px; }
.w-186px { width: 186px; }
.w-187px { width: 187px; }
.w-188px { width: 188px; }
.w-189px { width: 189px; }
.w-190px { width: 190px; }
.w-191px { width: 191px; }
.w-192px { width: 192px; }
.w-193px { width: 193px; }
.w-194px { width: 194px; }
.w-195px { width: 195px; }
.w-196px { width: 196px; }
.w-197px { width: 197px; }
.w-198px { width: 198px; }
.w-199px { width: 199px; }
.w-200px { width: 200px; }
.w-201px { width: 201px; }
.w-202px { width: 202px; }
.w-203px { width: 203px; }
.w-204px { width: 204px; }
.w-205px { width: 205px; }
.w-206px { width: 206px; }
.w-207px { width: 207px; }
.w-208px { width: 208px; }
.w-209px { width: 209px; }
.w-210px { width: 210px; }
.w-211px { width: 211px; }
.w-212px { width: 212px; }
.w-213px { width: 213px; }
.w-214px { width: 214px; }
.w-215px { width: 215px; }
.w-216px { width: 216px; }
.w-217px { width: 217px; }
.w-218px { width: 218px; }
.w-219px { width: 219px; }
.w-220px { width: 220px; }
.w-221px { width: 221px; }
.w-222px { width: 222px; }
.w-223px { width: 223px; }
.w-224px { width: 224px; }
.w-225px { width: 225px; }
.w-226px { width: 226px; }
.w-227px { width: 227px; }
.w-228px { width: 228px; }
.w-229px { width: 229px; }
.w-230px { width: 230px; }
.w-231px { width: 231px; }
.w-232px { width: 232px; }
.w-233px { width: 233px; }
.w-234px { width: 234px; }
.w-235px { width: 235px; }
.w-236px { width: 236px; }
.w-237px { width: 237px; }
.w-238px { width: 238px; }
.w-239px { width: 239px; }
.w-240px { width: 240px; }
.w-241px { width: 241px; }
.w-242px { width: 242px; }
.w-243px { width: 243px; }
.w-244px { width: 244px; }
.w-245px { width: 245px; }
.w-246px { width: 246px; }
.w-247px { width: 247px; }
.w-248px { width: 248px; }
.w-249px { width: 249px; }
.w-250px { width: 250px; }
.w-251px { width: 251px; }
.w-252px { width: 252px; }
.w-253px { width: 253px; }
.w-254px { width: 254px; }
.w-255px { width: 255px; }
.w-256px { width: 256px; }
.w-257px { width: 257px; }
.w-258px { width: 258px; }
.w-259px { width: 259px; }
.w-260px { width: 260px; }
.w-261px { width: 261px; }
.w-262px { width: 262px; }
.w-263px { width: 263px; }
.w-264px { width: 264px; }
.w-265px { width: 265px; }
.w-266px { width: 266px; }
.w-267px { width: 267px; }
.w-268px { width: 268px; }
.w-269px { width: 269px; }
.w-270px { width: 270px; }
.w-271px { width: 271px; }
.w-272px { width: 272px; }
.w-273px { width: 273px; }
.w-274px { width: 274px; }
.w-275px { width: 275px; }
.w-276px { width: 276px; }
.w-277px { width: 277px; }
.w-278px { width: 278px; }
.w-279px { width: 279px; }
.w-280px { width: 280px; }
.w-281px { width: 281px; }
.w-282px { width: 282px; }
.w-283px { width: 283px; }
.w-284px { width: 284px; }
.w-285px { width: 285px; }
.w-286px { width: 286px; }
.w-287px { width: 287px; }
.w-288px { width: 288px; }
.w-289px { width: 289px; }
.w-290px { width: 290px; }
.w-291px { width: 291px; }
.w-292px { width: 292px; }
.w-293px { width: 293px; }
.w-294px { width: 294px; }
.w-295px { width: 295px; }
.w-296px { width: 296px; }
.w-297px { width: 297px; }
.w-298px { width: 298px; }
.w-299px { width: 299px; }
.w-300px { width: 300px; }
.w-301px { width: 301px; }
.w-302px { width: 302px; }
.w-303px { width: 303px; }
.w-304px { width: 304px; }
.w-305px { width: 305px; }
.w-306px { width: 306px; }
.w-307px { width: 307px; }
.w-308px { width: 308px; }
.w-309px { width: 309px; }
.w-310px { width: 310px; }
.w-311px { width: 311px; }
.w-312px { width: 312px; }
.w-313px { width: 313px; }
.w-314px { width: 314px; }
.w-315px { width: 315px; }
.w-316px { width: 316px; }
.w-317px { width: 317px; }
.w-318px { width: 318px; }
.w-319px { width: 319px; }
.w-320px { width: 320px; }
.w-321px { width: 321px; }
.w-322px { width: 322px; }
.w-323px { width: 323px; }
.w-324px { width: 324px; }
.w-325px { width: 325px; }
.w-326px { width: 326px; }
.w-327px { width: 327px; }
.w-328px { width: 328px; }
.w-329px { width: 329px; }
.w-330px { width: 330px; }
.w-331px { width: 331px; }
.w-332px { width: 332px; }
.w-333px { width: 333px; }
.w-334px { width: 334px; }
.w-335px { width: 335px; }
.w-336px { width: 336px; }
.w-337px { width: 337px; }
.w-338px { width: 338px; }
.w-339px { width: 339px; }
.w-340px { width: 340px; }
.w-341px { width: 341px; }
.w-342px { width: 342px; }
.w-343px { width: 343px; }
.w-344px { width: 344px; }
.w-345px { width: 345px; }
.w-346px { width: 346px; }
.w-347px { width: 347px; }
.w-348px { width: 348px; }
.w-349px { width: 349px; }
.w-350px { width: 350px; }
.w-351px { width: 351px; }
.w-352px { width: 352px; }
.w-353px { width: 353px; }
.w-354px { width: 354px; }
.w-355px { width: 355px; }
.w-356px { width: 356px; }
.w-357px { width: 357px; }
.w-358px { width: 358px; }
.w-359px { width: 359px; }
.w-360px { width: 360px; }
.w-361px { width: 361px; }
.w-362px { width: 362px; }
.w-363px { width: 363px; }
.w-364px { width: 364px; }
.w-365px { width: 365px; }
.w-366px { width: 366px; }
.w-367px { width: 367px; }
.w-368px { width: 368px; }
.w-369px { width: 369px; }
.w-370px { width: 370px; }
.w-371px { width: 371px; }
.w-372px { width: 372px; }
.w-373px { width: 373px; }
.w-374px { width: 374px; }
.w-375px { width: 375px; }
.w-376px { width: 376px; }
.w-377px { width: 377px; }
.w-378px { width: 378px; }
.w-379px { width: 379px; }
.w-380px { width: 380px; }
.w-381px { width: 381px; }
.w-382px { width: 382px; }
.w-383px { width: 383px; }
.w-384px { width: 384px; }
.w-385px { width: 385px; }
.w-386px { width: 386px; }
.w-387px { width: 387px; }
.w-388px { width: 388px; }
.w-389px { width: 389px; }
.w-390px { width: 390px; }
.w-391px { width: 391px; }
.w-392px { width: 392px; }
.w-393px { width: 393px; }
.w-394px { width: 394px; }
.w-395px { width: 395px; }
.w-396px { width: 396px; }
.w-397px { width: 397px; }
.w-398px { width: 398px; }
.w-399px { width: 399px; }
.w-400px { width: 400px; }
.w-401px { width: 401px; }
.w-402px { width: 402px; }
.w-403px { width: 403px; }
.w-404px { width: 404px; }
.w-405px { width: 405px; }
.w-406px { width: 406px; }
.w-407px { width: 407px; }
.w-408px { width: 408px; }
.w-409px { width: 409px; }
.w-410px { width: 410px; }
.w-411px { width: 411px; }
.w-412px { width: 412px; }
.w-413px { width: 413px; }
.w-414px { width: 414px; }
.w-415px { width: 415px; }
.w-416px { width: 416px; }
.w-417px { width: 417px; }
.w-418px { width: 418px; }
.w-419px { width: 419px; }
.w-420px { width: 420px; }
.w-421px { width: 421px; }
.w-422px { width: 422px; }
.w-423px { width: 423px; }
.w-424px { width: 424px; }
.w-425px { width: 425px; }
.w-426px { width: 426px; }
.w-427px { width: 427px; }
.w-428px { width: 428px; }
.w-429px { width: 429px; }
.w-430px { width: 430px; }
.w-431px { width: 431px; }
.w-432px { width: 432px; }
.w-433px { width: 433px; }
.w-434px { width: 434px; }
.w-435px { width: 435px; }
.w-436px { width: 436px; }
.w-437px { width: 437px; }
.w-438px { width: 438px; }
.w-439px { width: 439px; }
.w-440px { width: 440px; }
.w-441px { width: 441px; }
.w-442px { width: 442px; }
.w-443px { width: 443px; }
.w-444px { width: 444px; }
.w-445px { width: 445px; }
.w-446px { width: 446px; }
.w-447px { width: 447px; }
.w-448px { width: 448px; }
.w-449px { width: 449px; }
.w-450px { width: 450px; }
.w-451px { width: 451px; }
.w-452px { width: 452px; }
.w-453px { width: 453px; }
.w-454px { width: 454px; }
.w-455px { width: 455px; }
.w-456px { width: 456px; }
.w-457px { width: 457px; }
.w-458px { width: 458px; }
.w-459px { width: 459px; }
.w-460px { width: 460px; }
.w-461px { width: 461px; }
.w-462px { width: 462px; }
.w-463px { width: 463px; }
.w-464px { width: 464px; }
.w-465px { width: 465px; }
.w-466px { width: 466px; }
.w-467px { width: 467px; }
.w-468px { width: 468px; }
.w-469px { width: 469px; }
.w-470px { width: 470px; }
.w-471px { width: 471px; }
.w-472px { width: 472px; }
.w-473px { width: 473px; }
.w-474px { width: 474px; }
.w-475px { width: 475px; }
.w-476px { width: 476px; }
.w-477px { width: 477px; }
.w-478px { width: 478px; }
.w-479px { width: 479px; }
.w-480px { width: 480px; }
.w-481px { width: 481px; }
.w-482px { width: 482px; }
.w-483px { width: 483px; }
.w-484px { width: 484px; }
.w-485px { width: 485px; }
.w-486px { width: 486px; }
.w-487px { width: 487px; }
.w-488px { width: 488px; }
.w-489px { width: 489px; }
.w-490px { width: 490px; }
.w-491px { width: 491px; }
.w-492px { width: 492px; }
.w-493px { width: 493px; }
.w-494px { width: 494px; }
.w-495px { width: 495px; }
.w-496px { width: 496px; }
.w-497px { width: 497px; }
.w-498px { width: 498px; }
.w-499px { width: 499px; }
.w-500px { width: 500px; }
.w-501px { width: 501px; }
.w-502px { width: 502px; }
.w-503px { width: 503px; }
.w-504px { width: 504px; }
.w-505px { width: 505px; }
.w-506px { width: 506px; }
.w-507px { width: 507px; }
.w-508px { width: 508px; }
.w-509px { width: 509px; }
.w-510px { width: 510px; }
.w-511px { width: 511px; }
.w-512px { width: 512px; }
.w-513px { width: 513px; }
.w-514px { width: 514px; }
.w-515px { width: 515px; }
.w-516px { width: 516px; }
.w-517px { width: 517px; }
.w-518px { width: 518px; }
.w-519px { width: 519px; }
.w-520px { width: 520px; }
.w-521px { width: 521px; }
.w-522px { width: 522px; }
.w-523px { width: 523px; }
.w-524px { width: 524px; }
.w-525px { width: 525px; }
.w-526px { width: 526px; }
.w-527px { width: 527px; }
.w-528px { width: 528px; }
.w-529px { width: 529px; }
.w-530px { width: 530px; }
.w-531px { width: 531px; }
.w-532px { width: 532px; }
.w-533px { width: 533px; }
.w-534px { width: 534px; }
.w-535px { width: 535px; }
.w-536px { width: 536px; }
.w-537px { width: 537px; }
.w-538px { width: 538px; }
.w-539px { width: 539px; }
.w-540px { width: 540px; }
.w-541px { width: 541px; }
.w-542px { width: 542px; }
.w-543px { width: 543px; }
.w-544px { width: 544px; }
.w-545px { width: 545px; }
.w-546px { width: 546px; }
.w-547px { width: 547px; }
.w-548px { width: 548px; }
.w-549px { width: 549px; }
.w-550px { width: 550px; }
.w-551px { width: 551px; }
.w-552px { width: 552px; }
.w-553px { width: 553px; }
.w-554px { width: 554px; }
.w-555px { width: 555px; }
.w-556px { width: 556px; }
.w-557px { width: 557px; }
.w-558px { width: 558px; }
.w-559px { width: 559px; }
.w-560px { width: 560px; }
.w-561px { width: 561px; }
.w-562px { width: 562px; }
.w-563px { width: 563px; }
.w-564px { width: 564px; }
.w-565px { width: 565px; }
.w-566px { width: 566px; }
.w-567px { width: 567px; }
.w-568px { width: 568px; }
.w-569px { width: 569px; }
.w-570px { width: 570px; }
.w-571px { width: 571px; }
.w-572px { width: 572px; }
.w-573px { width: 573px; }
.w-574px { width: 574px; }
.w-575px { width: 575px; }
.w-576px { width: 576px; }
.w-577px { width: 577px; }
.w-578px { width: 578px; }
.w-579px { width: 579px; }
.w-580px { width: 580px; }
.w-581px { width: 581px; }
.w-582px { width: 582px; }
.w-583px { width: 583px; }
.w-584px { width: 584px; }
.w-585px { width: 585px; }
.w-586px { width: 586px; }
.w-587px { width: 587px; }
.w-588px { width: 588px; }
.w-589px { width: 589px; }
.w-590px { width: 590px; }
.w-591px { width: 591px; }
.w-592px { width: 592px; }
.w-593px { width: 593px; }
.w-594px { width: 594px; }
.w-595px { width: 595px; }
.w-596px { width: 596px; }
.w-597px { width: 597px; }
.w-598px { width: 598px; }
.w-599px { width: 599px; }
.w-600px { width: 600px; }
.w-601px { width: 601px; }
.w-602px { width: 602px; }
.w-603px { width: 603px; }
.w-604px { width: 604px; }
.w-605px { width: 605px; }
.w-606px { width: 606px; }
.w-607px { width: 607px; }
.w-608px { width: 608px; }
.w-609px { width: 609px; }
.w-610px { width: 610px; }
.w-611px { width: 611px; }
.w-612px { width: 612px; }
.w-613px { width: 613px; }
.w-614px { width: 614px; }
.w-615px { width: 615px; }
.w-616px { width: 616px; }
.w-617px { width: 617px; }
.w-618px { width: 618px; }
.w-619px { width: 619px; }
.w-620px { width: 620px; }
.w-621px { width: 621px; }
.w-622px { width: 622px; }
.w-623px { width: 623px; }
.w-624px { width: 624px; }
.w-625px { width: 625px; }
.w-626px { width: 626px; }
.w-627px { width: 627px; }
.w-628px { width: 628px; }
.w-629px { width: 629px; }
.w-630px { width: 630px; }
.w-631px { width: 631px; }
.w-632px { width: 632px; }
.w-633px { width: 633px; }
.w-634px { width: 634px; }
.w-635px { width: 635px; }
.w-636px { width: 636px; }
.w-637px { width: 637px; }
.w-638px { width: 638px; }
.w-639px { width: 639px; }
.w-640px { width: 640px; }
.w-641px { width: 641px; }
.w-642px { width: 642px; }
.w-643px { width: 643px; }
.w-644px { width: 644px; }
.w-645px { width: 645px; }
.w-646px { width: 646px; }
.w-647px { width: 647px; }
.w-648px { width: 648px; }
.w-649px { width: 649px; }
.w-650px { width: 650px; }
.w-651px { width: 651px; }
.w-652px { width: 652px; }
.w-653px { width: 653px; }
.w-654px { width: 654px; }
.w-655px { width: 655px; }
.w-656px { width: 656px; }
.w-657px { width: 657px; }
.w-658px { width: 658px; }
.w-659px { width: 659px; }
.w-660px { width: 660px; }
.w-661px { width: 661px; }
.w-662px { width: 662px; }
.w-663px { width: 663px; }
.w-664px { width: 664px; }
.w-665px { width: 665px; }
.w-666px { width: 666px; }
.w-667px { width: 667px; }
.w-668px { width: 668px; }
.w-669px { width: 669px; }
.w-670px { width: 670px; }
.w-671px { width: 671px; }
.w-672px { width: 672px; }
.w-673px { width: 673px; }
.w-674px { width: 674px; }
.w-675px { width: 675px; }
.w-676px { width: 676px; }
.w-677px { width: 677px; }
.w-678px { width: 678px; }
.w-679px { width: 679px; }
.w-680px { width: 680px; }
.w-681px { width: 681px; }
.w-682px { width: 682px; }
.w-683px { width: 683px; }
.w-684px { width: 684px; }
.w-685px { width: 685px; }
.w-686px { width: 686px; }
.w-687px { width: 687px; }
.w-688px { width: 688px; }
.w-689px { width: 689px; }
.w-690px { width: 690px; }
.w-691px { width: 691px; }
.w-692px { width: 692px; }
.w-693px { width: 693px; }
.w-694px { width: 694px; }
.w-695px { width: 695px; }
.w-696px { width: 696px; }
.w-697px { width: 697px; }
.w-698px { width: 698px; }
.w-699px { width: 699px; }
.w-700px { width: 700px; }
.w-701px { width: 701px; }
.w-702px { width: 702px; }
.w-703px { width: 703px; }
.w-704px { width: 704px; }
.w-705px { width: 705px; }
.w-706px { width: 706px; }
.w-707px { width: 707px; }
.w-708px { width: 708px; }
.w-709px { width: 709px; }
.w-710px { width: 710px; }
.w-711px { width: 711px; }
.w-712px { width: 712px; }
.w-713px { width: 713px; }
.w-714px { width: 714px; }
.w-715px { width: 715px; }
.w-716px { width: 716px; }
.w-717px { width: 717px; }
.w-718px { width: 718px; }
.w-719px { width: 719px; }
.w-720px { width: 720px; }
.w-721px { width: 721px; }
.w-722px { width: 722px; }
.w-723px { width: 723px; }
.w-724px { width: 724px; }
.w-725px { width: 725px; }
.w-726px { width: 726px; }
.w-727px { width: 727px; }
.w-728px { width: 728px; }
.w-729px { width: 729px; }
.w-730px { width: 730px; }
.w-731px { width: 731px; }
.w-732px { width: 732px; }
.w-733px { width: 733px; }
.w-734px { width: 734px; }
.w-735px { width: 735px; }
.w-736px { width: 736px; }
.w-737px { width: 737px; }
.w-738px { width: 738px; }
.w-739px { width: 739px; }
.w-740px { width: 740px; }
.w-741px { width: 741px; }
.w-742px { width: 742px; }
.w-743px { width: 743px; }
.w-744px { width: 744px; }
.w-745px { width: 745px; }
.w-746px { width: 746px; }
.w-747px { width: 747px; }
.w-748px { width: 748px; }
.w-749px { width: 749px; }
.w-750px { width: 750px; }
.w-751px { width: 751px; }
.w-752px { width: 752px; }
.w-753px { width: 753px; }
.w-754px { width: 754px; }
.w-755px { width: 755px; }
.w-756px { width: 756px; }
.w-757px { width: 757px; }
.w-758px { width: 758px; }
.w-759px { width: 759px; }
.w-760px { width: 760px; }
.w-761px { width: 761px; }
.w-762px { width: 762px; }
.w-763px { width: 763px; }
.w-764px { width: 764px; }
.w-765px { width: 765px; }
.w-766px { width: 766px; }
.w-767px { width: 767px; }
.w-768px { width: 768px; }
.w-769px { width: 769px; }
.w-770px { width: 770px; }
.w-771px { width: 771px; }
.w-772px { width: 772px; }
.w-773px { width: 773px; }
.w-774px { width: 774px; }
.w-775px { width: 775px; }
.w-776px { width: 776px; }
.w-777px { width: 777px; }
.w-778px { width: 778px; }
.w-779px { width: 779px; }
.w-780px { width: 780px; }
.w-781px { width: 781px; }
.w-782px { width: 782px; }
.w-783px { width: 783px; }
.w-784px { width: 784px; }
.w-785px { width: 785px; }
.w-786px { width: 786px; }
.w-787px { width: 787px; }
.w-788px { width: 788px; }
.w-789px { width: 789px; }
.w-790px { width: 790px; }
.w-791px { width: 791px; }
.w-792px { width: 792px; }
.w-793px { width: 793px; }
.w-794px { width: 794px; }
.w-795px { width: 795px; }
.w-796px { width: 796px; }
.w-797px { width: 797px; }
.w-798px { width: 798px; }
.w-799px { width: 799px; }
.w-800px { width: 800px; }
.w-801px { width: 801px; }
.w-802px { width: 802px; }
.w-803px { width: 803px; }
.w-804px { width: 804px; }
.w-805px { width: 805px; }
.w-806px { width: 806px; }
.w-807px { width: 807px; }
.w-808px { width: 808px; }
.w-809px { width: 809px; }
.w-810px { width: 810px; }
.w-811px { width: 811px; }
.w-812px { width: 812px; }
.w-813px { width: 813px; }
.w-814px { width: 814px; }
.w-815px { width: 815px; }
.w-816px { width: 816px; }
.w-817px { width: 817px; }
.w-818px { width: 818px; }
.w-819px { width: 819px; }
.w-820px { width: 820px; }
.w-821px { width: 821px; }
.w-822px { width: 822px; }
.w-823px { width: 823px; }
.w-824px { width: 824px; }
.w-825px { width: 825px; }
.w-826px { width: 826px; }
.w-827px { width: 827px; }
.w-828px { width: 828px; }
.w-829px { width: 829px; }
.w-830px { width: 830px; }
.w-831px { width: 831px; }
.w-832px { width: 832px; }
.w-833px { width: 833px; }
.w-834px { width: 834px; }
.w-835px { width: 835px; }
.w-836px { width: 836px; }
.w-837px { width: 837px; }
.w-838px { width: 838px; }
.w-839px { width: 839px; }
.w-840px { width: 840px; }
.w-841px { width: 841px; }
.w-842px { width: 842px; }
.w-843px { width: 843px; }
.w-844px { width: 844px; }
.w-845px { width: 845px; }
.w-846px { width: 846px; }
.w-847px { width: 847px; }
.w-848px { width: 848px; }
.w-849px { width: 849px; }
.w-850px { width: 850px; }
.w-851px { width: 851px; }
.w-852px { width: 852px; }
.w-853px { width: 853px; }
.w-854px { width: 854px; }
.w-855px { width: 855px; }
.w-856px { width: 856px; }
.w-857px { width: 857px; }
.w-858px { width: 858px; }
.w-859px { width: 859px; }
.w-860px { width: 860px; }
.w-861px { width: 861px; }
.w-862px { width: 862px; }
.w-863px { width: 863px; }
.w-864px { width: 864px; }
.w-865px { width: 865px; }
.w-866px { width: 866px; }
.w-867px { width: 867px; }
.w-868px { width: 868px; }
.w-869px { width: 869px; }
.w-870px { width: 870px; }
.w-871px { width: 871px; }
.w-872px { width: 872px; }
.w-873px { width: 873px; }
.w-874px { width: 874px; }
.w-875px { width: 875px; }
.w-876px { width: 876px; }
.w-877px { width: 877px; }
.w-878px { width: 878px; }
.w-879px { width: 879px; }
.w-880px { width: 880px; }
.w-881px { width: 881px; }
.w-882px { width: 882px; }
.w-883px { width: 883px; }
.w-884px { width: 884px; }
.w-885px { width: 885px; }
.w-886px { width: 886px; }
.w-887px { width: 887px; }
.w-888px { width: 888px; }
.w-889px { width: 889px; }
.w-890px { width: 890px; }
.w-891px { width: 891px; }
.w-892px { width: 892px; }
.w-893px { width: 893px; }
.w-894px { width: 894px; }
.w-895px { width: 895px; }
.w-896px { width: 896px; }
.w-897px { width: 897px; }
.w-898px { width: 898px; }
.w-899px { width: 899px; }
.w-900px { width: 900px; }
.w-901px { width: 901px; }
.w-902px { width: 902px; }
.w-903px { width: 903px; }
.w-904px { width: 904px; }
.w-905px { width: 905px; }
.w-906px { width: 906px; }
.w-907px { width: 907px; }
.w-908px { width: 908px; }
.w-909px { width: 909px; }
.w-910px { width: 910px; }
.w-911px { width: 911px; }
.w-912px { width: 912px; }
.w-913px { width: 913px; }
.w-914px { width: 914px; }
.w-915px { width: 915px; }
.w-916px { width: 916px; }
.w-917px { width: 917px; }
.w-918px { width: 918px; }
.w-919px { width: 919px; }
.w-920px { width: 920px; }
.w-921px { width: 921px; }
.w-922px { width: 922px; }
.w-923px { width: 923px; }
.w-924px { width: 924px; }
.w-925px { width: 925px; }
.w-926px { width: 926px; }
.w-927px { width: 927px; }
.w-928px { width: 928px; }
.w-929px { width: 929px; }
.w-930px { width: 930px; }
.w-931px { width: 931px; }
.w-932px { width: 932px; }
.w-933px { width: 933px; }
.w-934px { width: 934px; }
.w-935px { width: 935px; }
.w-936px { width: 936px; }
.w-937px { width: 937px; }
.w-938px { width: 938px; }
.w-939px { width: 939px; }
.w-940px { width: 940px; }
.w-941px { width: 941px; }
.w-942px { width: 942px; }
.w-943px { width: 943px; }
.w-944px { width: 944px; }
.w-945px { width: 945px; }
.w-946px { width: 946px; }
.w-947px { width: 947px; }
.w-948px { width: 948px; }
.w-949px { width: 949px; }
.w-950px { width: 950px; }
.w-951px { width: 951px; }
.w-952px { width: 952px; }
.w-953px { width: 953px; }
.w-954px { width: 954px; }
.w-955px { width: 955px; }
.w-956px { width: 956px; }
.w-957px { width: 957px; }
.w-958px { width: 958px; }
.w-959px { width: 959px; }
.w-960px { width: 960px; }
.w-961px { width: 961px; }
.w-962px { width: 962px; }
.w-963px { width: 963px; }
.w-964px { width: 964px; }
.w-965px { width: 965px; }
.w-966px { width: 966px; }
.w-967px { width: 967px; }
.w-968px { width: 968px; }
.w-969px { width: 969px; }
.w-970px { width: 970px; }
.w-971px { width: 971px; }
.w-972px { width: 972px; }
.w-973px { width: 973px; }
.w-974px { width: 974px; }
.w-975px { width: 975px; }
.w-976px { width: 976px; }
.w-977px { width: 977px; }
.w-978px { width: 978px; }
.w-979px { width: 979px; }
.w-980px { width: 980px; }
.w-981px { width: 981px; }
.w-982px { width: 982px; }
.w-983px { width: 983px; }
.w-984px { width: 984px; }
.w-985px { width: 985px; }
.w-986px { width: 986px; }
.w-987px { width: 987px; }
.w-988px { width: 988px; }
.w-989px { width: 989px; }
.w-990px { width: 990px; }
.w-991px { width: 991px; }
.w-992px { width: 992px; }
.w-993px { width: 993px; }
.w-994px { width: 994px; }
.w-995px { width: 995px; }
.w-996px { width: 996px; }
.w-997px { width: 997px; }
.w-998px { width: 998px; }
.w-999px { width: 999px; }
.w-1000px { width: 1000px; }




/* 
    Width - Ranging from 1% to 100%
    Feel free to add more sizes as needed 
*/

.w-1p { width: 1%; }
.w-2p { width: 2%; }
.w-3p { width: 3%; }
.w-4p { width: 4%; }
.w-5p { width: 5%; }
.w-6p { width: 6%; }
.w-7p { width: 7%; }
.w-8p { width: 8%; }
.w-9p { width: 9%; }
.w-10p { width: 10%; }
.w-11p { width: 11%; }
.w-12p { width: 12%; }
.w-13p { width: 13%; }
.w-14p { width: 14%; }
.w-15p { width: 15%; }
.w-16p { width: 16%; }
.w-17p { width: 17%; }
.w-18p { width: 18%; }
.w-19p { width: 19%; }
.w-20p { width: 20%; }
.w-21p { width: 21%; }
.w-22p { width: 22%; }
.w-23p { width: 23%; }
.w-24p { width: 24%; }
.w-25p { width: 25%; }
.w-26p { width: 26%; }
.w-27p { width: 27%; }
.w-28p { width: 28%; }
.w-29p { width: 29%; }
.w-30p { width: 30%; }
.w-31p { width: 31%; }
.w-32p { width: 32%; }
.w-33p { width: 33%; }
.w-34p { width: 34%; }
.w-35p { width: 35%; }
.w-36p { width: 36%; }
.w-37p { width: 37%; }
.w-38p { width: 38%; }
.w-39p { width: 39%; }
.w-40p { width: 40%; }
.w-41p { width: 41%; }
.w-42p { width: 42%; }
.w-43p { width: 43%; }
.w-44p { width: 44%; }
.w-45p { width: 45%; }
.w-46p { width: 46%; }
.w-47p { width: 47%; }
.w-48p { width: 48%; }
.w-49p { width: 49%; }
.w-50p { width: 50%; }
.w-51p { width: 51%; }
.w-52p { width: 52%; }
.w-53p { width: 53%; }
.w-54p { width: 54%; }
.w-55p { width: 55%; }
.w-56p { width: 56%; }
.w-57p { width: 57%; }
.w-58p { width: 58%; }
.w-59p { width: 59%; }
.w-60p { width: 60%; }
.w-61p { width: 61%; }
.w-62p { width: 62%; }
.w-63p { width: 63%; }
.w-64p { width: 64%; }
.w-65p { width: 65%; }
.w-66p { width: 66%; }
.w-67p { width: 67%; }
.w-68p { width: 68%; }
.w-69p { width: 69%; }
.w-70p { width: 70%; }
.w-71p { width: 71%; }
.w-72p { width: 72%; }
.w-73p { width: 73%; }
.w-74p { width: 74%; }
.w-75p { width: 75%; }
.w-76p { width: 76%; }
.w-77p { width: 77%; }
.w-78p { width: 78%; }
.w-79p { width: 79%; }
.w-80p { width: 80%; }
.w-81p { width: 81%; }
.w-82p { width: 82%; }
.w-83p { width: 83%; }
.w-84p { width: 84%; }
.w-85p { width: 85%; }
.w-86p { width: 86%; }
.w-87p { width: 87%; }
.w-88p { width: 88%; }
.w-89p { width: 89%; }
.w-90p { width: 90%; }
.w-91p { width: 91%; }
.w-92p { width: 92%; }
.w-93p { width: 93%; }
.w-94p { width: 94%; }
.w-95p { width: 95%; }
.w-96p { width: 96%; }
.w-97p { width: 97%; }
.w-98p { width: 98%; }
.w-99p { width: 99%; }
.w-100p { width: 100%; }


.w-1vw { width: 1vw; }
.w-2vw { width: 2vw; }
.w-3vw { width: 3vw; }
.w-4vw { width: 4vw; }
.w-5vw { width: 5vw; }
.w-6vw { width: 6vw; }
.w-7vw { width: 7vw; }
.w-8vw { width: 8vw; }
.w-9vw { width: 9vw; }
.w-10vw { width: 10vw; }
.w-11vw { width: 11vw; }
.w-12vw { width: 12vw; }
.w-13vw { width: 13vw; }
.w-14vw { width: 14vw; }
.w-15vw { width: 15vw; }
.w-16vw { width: 16vw; }
.w-17vw { width: 17vw; }
.w-18vw { width: 18vw; }
.w-19vw { width: 19vw; }
.w-20vw { width: 20vw; }
.w-21vw { width: 21vw; }
.w-22vw { width: 22vw; }
.w-23vw { width: 23vw; }
.w-24vw { width: 24vw; }
.w-25vw { width: 25vw; }
.w-26vw { width: 26vw; }
.w-27vw { width: 27vw; }
.w-28vw { width: 28vw; }
.w-29vw { width: 29vw; }
.w-30vw { width: 30vw; }
.w-31vw { width: 31vw; }
.w-32vw { width: 32vw; }
.w-33vw { width: 33vw; }
.w-34vw { width: 34vw; }
.w-35vw { width: 35vw; }
.w-36vw { width: 36vw; }
.w-37vw { width: 37vw; }
.w-38vw { width: 38vw; }
.w-39vw { width: 39vw; }
.w-40vw { width: 40vw; }
.w-41vw { width: 41vw; }
.w-42vw { width: 42vw; }
.w-43vw { width: 43vw; }
.w-44vw { width: 44vw; }
.w-45vw { width: 45vw; }
.w-46vw { width: 46vw; }
.w-47vw { width: 47vw; }
.w-48vw { width: 48vw; }
.w-49vw { width: 49vw; }
.w-50vw { width: 50vw; }
.w-51vw { width: 51vw; }
.w-52vw { width: 52vw; }
.w-53vw { width: 53vw; }
.w-54vw { width: 54vw; }
.w-55vw { width: 55vw; }
.w-56vw { width: 56vw; }
.w-57vw { width: 57vw; }
.w-58vw { width: 58vw; }
.w-59vw { width: 59vw; }
.w-60vw { width: 60vw; }
.w-61vw { width: 61vw; }
.w-62vw { width: 62vw; }
.w-63vw { width: 63vw; }
.w-64vw { width: 64vw; }
.w-65vw { width: 65vw; }
.w-66vw { width: 66vw; }
.w-67vw { width: 67vw; }
.w-68vw { width: 68vw; }
.w-69vw { width: 69vw; }
.w-70vw { width: 70vw; }
.w-71vw { width: 71vw; }
.w-72vw { width: 72vw; }
.w-73vw { width: 73vw; }
.w-74vw { width: 74vw; }
.w-75vw { width: 75vw; }
.w-76vw { width: 76vw; }
.w-77vw { width: 77vw; }
.w-78vw { width: 78vw; }
.w-79vw { width: 79vw; }
.w-80vw { width: 80vw; }
.w-81vw { width: 81vw; }
.w-82vw { width: 82vw; }
.w-83vw { width: 83vw; }
.w-84vw { width: 84vw; }
.w-85vw { width: 85vw; }
.w-86vw { width: 86vw; }
.w-87vw { width: 87vw; }
.w-88vw { width: 88vw; }
.w-89vw { width: 89vw; }
.w-90vw { width: 90vw; }
.w-91vw { width: 91vw; }
.w-92vw { width: 92vw; }
.w-93vw { width: 93vw; }
.w-94vw { width: 94vw; }
.w-95vw { width: 95vw; }
.w-96vw { width: 96vw; }
.w-97vw { width: 97vw; }
.w-98vw { width: 98vw; }
.w-99vw { width: 99vw; }
.w-100vw { width: 100vw; }
